.basic-content {
   @apply mx-auto text-center py-[3.75rem] sm:py-[7.84rem];
   
   color: var(--primary-900, #045);
   font-size: 1.125rem;
   line-height: 1.55556;

   h2 {
      /* Heading/H2/Bold/Desktop */
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.22222;
      letter-spacing: -0.09rem;
      text-wrap: balance;
      margin-bottom: 1.67rem;
   }
   
   @include respond-above(sm) {
      /* Paragraph/Large/Medium */
      font-size: 1.125rem;
      line-height: 1.5555555555555556;
      max-width: 50rem;

      h2 {
         font-size: 3.125rem;
         font-weight: 700;
         line-height: 1.16;
         letter-spacing: -0.09375rem;
         margin-bottom: 2.5rem;
      }
   }
}
