.calc-boxes {
	position: absolute;
	right: 70px;
    top: -25px;
    z-index: 39;

    @include respond-below(md) {
    	right: -7px;
    	top: -40px;
    	width: 118px;
    	height: 159px;
    }
}
.calc {
	width: 86%;
	position: relative;
	margin: 0 auto;
	z-index: 20;
	

	@include respond-below(lg) {
		width: 100%;
	}

	&::before {
		margin-top: calc(clamp(2.5rem, 0.55rem + 4.875vw, 4.938rem) * -1);
		margin-bottom: calc(clamp(2.5rem, 0.55rem + 4.875vw, 4.938rem) * -1);
		z-index: 20;
	}
	&:after {
		z-index: 29;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
		margin-top: calc(clamp(2.5rem, 0.55rem + 4.875vw, 4.938rem) * -1);
	}

	.calc-main {
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		background: var(--bw-white, #FFF);
		box-shadow: 0px 15px 100px 0px rgba(0, 0, 0, 0.08), 0px 8px 15px 0px rgba(0, 0, 0, 0.04);
		padding: clamp(2.563rem, 0.413rem + 5.375vw, 5.25rem) clamp(1.688rem, -2.363rem + 10.125vw, 6.75rem);
		margin: clamp(2.5rem, 0.55rem + 4.875vw, 4.938rem) 0;
		position: relative;
		z-index: 40;
		row-gap: 50px;


		@include respond-below(md) {
			flex-direction: column;
			max-width: min(100%, 500px);
			margin-left: auto;
			margin-right: auto;
		}
	}
	.calc-main-calc {
		gap: 16px;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
	}
	.calc-info {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		a.btn-blue-dark-blue {
			display: flex;
			align-self: flex-start;
			padding: 12px 20px;

			@include respond-below(md) {
				align-self: center;
			}
		}
	}
	.calc-info-content {
		color: var(--primary-900, #045);
		font-size: 14px;
		font-weight: 400;
		line-height: 23px; /* 164.286% */
		max-width: min(395px, 100%);

		@include respond-below(md) {
			text-align: center;
			max-width: 100%;
		}
	}
	.calc-info-heading {
		color: var(--primary-500-main, #009FC6);
		font-size: 36px;
		font-weight: 700;
		line-height: 1.22; /* 122.222% */
		letter-spacing: -1.44px;

		@include respond-below(md) {
			font-size: 32px;
			text-align: center;
			text-wrap: balance;
		}
	}
	.calc-group {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		flex-basis: auto;
		flex-grow: 1;
	}
	.calc-group-label {
		border-radius: 5px;
		background: var(--primary-100, #CFEEF6);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--primary-900, #045);
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px; /* 142.857% */
		padding: 7px 0;
	}
	.calc-group-dd {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;

		dl {
			width: auto !important;
			flex-grow: 1;
		}

		@include respond-below(md) {
			flex-direction: column;
			gap: 8px;

			dl {
				width: 100% !important;
				flex-basis: unset !important
			}
		}
	}
	.tf-dropdown-hidden {
        display: none;
    }
    .tf-dropdown-shown {
        display: block;
    }

    .tf-dropdown {
        border-radius: 5px;
        border: 1px solid var(--primary-500-main, #009FC6);
        background: #FFF;
        position: relative;
        z-index: 20;
        transition-delay: 0.35s;

        @include respond-below(sm) {
        	width: 100%;
        }

        dd, dt {
        	min-width: 150px !important;
        }

        dt p, dd ul li {
            color: var(--primary-900, #045);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
        }
        .tf-dropdown-list {
        	border: 1px solid var(--primary-500-main, #009FC6);
        	border-radius: 5px;
        	padding-right: 2px;
        	padding-top: 2px;
        	padding-bottom: 2px;
        	background-color: #fff;
        }

        dd ul {
            border-radius: 5px;
            //border: 1px solid var(--primary-500-main, #009FC6);
            background: #FFF;
            max-height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;

            /* Customize the scrollbar track */
			&::-webkit-scrollbar {
			  width: 6px; /* Width of the scrollbar */
			}

			/* Customize the scrollbar thumb (the draggable part) */
			&::-webkit-scrollbar-thumb {
				background: #808080; /* Color of the thumb */
			 	border-radius: 5px; /* Rounded corners for the thumb */
				background: var(--primary-500-main, #009FC6);
				margin: 1px auto;
				width: 4px;
			}

			/* Customize the scrollbar track on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: var(--primary-500-main, #009FC6); /* Color of the thumb on hover */
			}
        }

        dt, dd ul li {
            padding: unset;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        dd ul li {
            width: 100%;
            &:hover {
                background-color: var(--primary-100, #CFEEF6);
                font-weight: 600;
            }
        }
        dd {
            width: calc(100% + 2px);
            border: none;
        }

        dt svg {
            padding-right: unset;
        }
    }

    .tf-dropdown-open {
        //border-bottom: 1px solid var(--primary-500-main, #009FC6);
        position: relative;
        z-index: 30;
        transition: z-index 0s linear;

        dd {
        	top: calc(100% + 6px);
        }
        dd ul {
            //border-top: 1px solid var(--primary-500-main, #009FC6);
        }
    }

    .ansi-particle-size-conversion-chart {
    	.calc-group-dd {
    		dl {
    			width: unset !important;
    			flex-basis: calc(25% - 12px);
    			flex-grow: 0;

    			@media (max-width: 1300px) {
    				flex-basis: calc(33% - 9px);
    			}
    		}
    	}
    }
    .fepa-particle-size-conversion-chart {
    	.calc-group-dd {
    		dl {
    			width: unset !important;
    			flex-basis: calc(25% - 12px);
    			flex-grow: 0;

    			@media (max-width: 1300px) {
    				flex-basis: calc(33% - 9px);
    			}
    		}
    	}
    }
    .particle-size-conversion-table {
    	.calc-group {
    		@include respond-below(md) {
    			flex-basis: 100%;
    		}
    	}
    }
    .weight-table {
    	overflow: hidden;

    	@media (max-width: 1100px) {
    		overflow-x: scroll;
    	}

    	table {
    		min-width: 650px;
    		margin-bottom: 10px;
    		user-select: none;
    	}
    	th:first-child {
    		border-top-left-radius: 10px;
    	}
    	th:last-child {
    		border-top-right-radius: 10px;
    	}
    	tr:last-child td:first-child {
    		border-bottom-left-radius: 10px;
    	}
    	tr:last-child td:last-child {
    		border-bottom-right-radius: 10px;
    	}
    	th, tr td:first-child {
    		text-align: center;
    		color: $white;
    		font-weight: 800;
    		background-color: var(--primary-500-main, #009FC6);
    	}
    	tr td {
    		text-align: center;
    	}
    	th, td {
    		height: 45px;
    	}
    	td:not(:first-child) {
    		font-size: 14px;
    	}

    	tr:not(:last-child) td:not(:first-child) {
    		border-bottom: solid 1px #aeaeae;
    	}
    	tr td:not(:first-child):not(:last-child) {
    		border-right: solid 1px #aeaeae;
    	}

    	/* Customize the scrollbar track */
		&::-webkit-scrollbar {
		  height: 6px; /* Width of the scrollbar */
		}

		/* Customize the scrollbar thumb (the draggable part) */
		&::-webkit-scrollbar-thumb {
			background: #808080; /* Color of the thumb */
		 	border-radius: 5px; /* Rounded corners for the thumb */
			background: var(--primary-500-main, #009FC6);
			margin: 1px auto;
			width: 4px;
		}

		/* Customize the scrollbar track on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: var(--primary-500-main, #009FC6); /* Color of the thumb on hover */
		}

		@include respond-below(sm) {
			th, td:first-child {
				font-size: 14px;
			}
			td {
				font-size: 12px;
			}
		}
    }
}


