.contact-form--section {
	padding-top: clamp(108px, 10.075vw, 145px);
	padding-bottom: clamp(108px, 10.075vw, 145px);

	.wpcf7-not-valid-tip {
		display: none;
	}

	select.wpcf7-not-valid {
		color: #f15252 !important;
	}
	.wpcf7-not-valid {
		background: var(--primary-50,#effbff);
    	border: 1px solid #f15252 !important;
    	color: #f15252;

    	 &::placeholder {
            color: #f15252;
         }
	}

	.wpcf7 form .wpcf7-response-output {
		margin: 0;
		padding: 0;
		border: unset !important;
		text-align: center;
		
	}
}

.contact-form--wrap {
	@include inner-wrap(723px);
}

.contact-form--heading {
	@apply text-center;
	color: var(--primary-500-main, #009fc6);

	h2 {
		font-size: 28px;
		font-weight: 700;
		line-height: 46px;
		letter-spacing: -0.56px;
		text-wrap: balance;

		@include respond-above(md) {
			font-size: 36px;
			line-height: 42px;
			letter-spacing: -0.65px;
		}

		@include respond-above(xl) {
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -0.8px;
		}
	}

	p {
		@apply mt-4;
	}
}

.contact-form--form {
	margin-top: clamp(25px, 5vw, 56px);

	form {
		@apply flex flex-row flex-wrap items-center;
		row-gap: 20px;
		column-gap: 25px;

		& > * {
			width: 100%;

			br {
				@apply hidden;
			}
		}

		p {
			&:nth-child(2),
			&:nth-child(3) {
				@include respond-above(lg) {
					max-width: calc(50% - calc(25px / 2));
				}
			}
		}

		input,
		textarea {
			&:not([type='submit']) {
				border-radius: 6px;
				border: 1px solid var(--primary-300, #8bd4df);
				padding: 12px 20px;
				width: 100%;
			}

			&::-webkit-input-placeholder {
				/* Chrome/Opera/Safari */
				color: var(--primary-400, #61c5dd);
			}
			&::-moz-placeholder {
				/* Firefox 19+ */
				color: var(--primary-400, #61c5dd);
			}
			&:-ms-input-placeholder {
				/* IE 10+ */
				color: var(--primary-400, #61c5dd);
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: var(--primary-400, #61c5dd);
			}
		}

		input[type='submit'] {
			@apply btn-blue-dark-blue block mx-auto;
			margin-top: 5px;
			cursor: pointer;
		}
	}
}
