body.our-history-new #main-content {
	background-color: #072D36;
}

.history-new {
	position: relative;
	background-color: #072D36;

	.history-new--content {
		@include section-full;
		background-color: #072D36;
		display: flex;
		align-items: flex-start;
		overflow: hidden;
		width: 100vw;
		aspect-ratio: 1440/765;
		max-height: 765px;
		//height: 500px;
	}

	.history-new--left {
		flex-basis: 70%;
		height: 100%;
		position: relative;
	}
	.history-new--right {
		flex-basis: 30%;
		align-self: stretch;

		.history-new--arrows {
			display: none;
		}
	}
	.history-new--slides {
		height: 100%;
	}
	.history-new--slide-info {
		position: relative;
		svg {
			margin-bottom: 8px;
		}
		.history-new--slide-title {
			margin-bottom: 11px;
			color: var(--Primary-50, #EFFBFF);
			font-family: "Open Sans";
			font-size: 40px;
			font-weight: 700;
			line-height: 54px; /* 135% */
			letter-spacing: -0.8px;
		}
		.history-new--slide-text {
			color: var(--Primary-50, #EFFBFF);
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 25.4px; /* 158.75% */
			letter-spacing: -0.32px;
		}
	}

	.history-new--slide {
		height: 100%;
		display: none !important;

		&[style*='display: block']{
			display: flex !important;
		}

		.history-new--slide-bg-year-1, .history-new--slide-bg-year-2 {
			position: absolute;
			width: 100%;
			height: 100%;
			user-select: none;
			pointer-events: none;
		}
		.history-new--slide-bg-year-1 {
			-webkit-text-stroke-width: 2px;
			top: 0;
			left: max(-43.2px, -3vw);
			-webkit-text-stroke-color: var(--Primary-900, #045);
			font-family: "Open Sans";
			font-size: min(504px, 35vw);
			font-weight: 700;
			line-height: 1.42; /* 142.635% */
			letter-spacing: max(-45px, -3.125vw);
			color: transparent;
			transform: translateY(-31%);
		}
		.history-new--slide-bg-year-2 {
			left: min(432px, 30vw);
			bottom: 0;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: var(--Primary-900, #045);
			font-family: "Open Sans";
			font-size: min(504px, 35vw);
			font-weight: 700;
			line-height: 1.25; /* 125.372% */
			letter-spacing: max(-28.8px, -2vw);
			color: transparent;
			transform: translateX(0) translateY(46%);
		}

		.history-new--slide-left {
			min-width: 250px;
		}


		&.history-new--slide-layout-One {
			display: flex;
			align-items: flex-start;

			.history-new--slide-info {
				width: 43ch;
			}
			.history-new--slide-left {
				width: min(460px, 45.63%);
			}
			.history-new--slide-right {
				width: auto;
				flex-grow: 1;
				align-self: center;
			}
			.slide-image-1 {
				width: min(460px, 110%);
				height: auto;
				aspect-ratio: 1/1;
				transform: translateX(-23%) translateY(2.6875em);
				object-fit: cover;
				position: relative;
				z-index: 1;
			}
			.slide-image-2 {
				width: min(208px, 45.11%);
				height: auto;
				aspect-ratio: 1/1;
				object-fit: cover;
				position: relative;
				z-index: 2;
				transform: translateX(98%) translateY(-29%);
				margin-bottom: 16%;
			}
		}
		&.history-new--slide-layout-Two {
			display: flex;
			flex-direction: column;

			 .history-new--slide-info {
				transform: translateY(-16%) translateX(34%);
				width: 43ch;
			 }
			.history-new--slide-images {
				display: flex;
				align-items: flex-start;
			}
			.slide-image-1 {
			 	width: min(472.5px, 46.88%);
			 	height: auto;
			 	aspect-ratio: 1/1;
				transform: translateY(-12%) translatex(50%);
			 	object-fit: cover;
			 	position: relative;
			 	z-index: 1;
			 }

			 .slide-image-2 {
			 	width: min(212px, 21.03%);
			 	height: auto;
			 	aspect-ratio: 1/1;
			 	object-fit: cover;
			 	position: relative;
			 	z-index: 2;
			 	transform: translateX(68%) translateY(111%);
			 	//margin-bottom: 16%;
			 }
		}
		&.history-new--slide-layout-Three {
			display: flex;
			align-items: flex-start;

			.history-new--slide-images {
				display: flex;
				flex-direction: column-reverse;
			}
			.history-new--slide-info {
				width: 47ch;
			}
			.history-new--slide-left {
				width: min(460px, 45.63%);
			}
			.history-new--slide-right {
				align-self: stretch;
				width: auto;
				padding-top: min(403.2px, 40%);
			}
			.slide-image-1 {
				width: min(460px, 110%);
				height: auto;
				aspect-ratio: 1/1;
				transform: translateX(-23%) translateY(-4%);
				object-fit: cover;
				position: relative;
				z-index: 1;
			}
			.slide-image-2 {
				width: min(208px, 45.11%);
				height: auto;
				aspect-ratio: 1/1;
				object-fit: cover;
				position: relative;
				z-index: 2;
				transform: translateX(98%) translateY(73%);
				margin-bottom: min(73.5px, 16%);
			}
		}
		&.history-new--slide-layout-Four {
			display: flex;
			flex-direction: column-reverse;

			 .history-new--slide-info {
			 	width: min(100%, 73ch);
				padding-left: min(93px, 9.71%);
				transform: translateY(min(-36px, -16%));
			 }
			.history-new--slide-images {
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-start;
				justify-content: flex-end;
				transform: translateX(min(293px, 29%));
			}

			.history-new--slide-right {
				padding-left: 5%;
				padding-top: 10%;
				margin-bottom: max(-42.2px, -3vw);
			}
			.slide-image-1 {
			 	width: min(482.6px, 47.88%);
			 	height: auto;
			 	aspect-ratio: 1/1;
				transform: translateY(18%) translatex(-33%);
			 	object-fit: cover;
			 	position: relative;
			 	z-index: 1;
			 }

			 .slide-image-2 {
			 	width: min(212px, 21.03%);
			 	height: auto;
			 	aspect-ratio: 1/1;
			 	object-fit: cover;
			 	position: relative;
			 	z-index: 2;
			 	transform: translateX(-45%) translateY(49%);
			 	//margin-bottom: 16%;
			 }
		}
	}
	.slide-image {
		border-radius: 50%;
	}
	.history-new--dial {
		height: 100%;
		width: 100%;
	}

	.history-new--dial-year {
		display: flex;
		gap: 1.8vw;
		align-items: center;
		position: absolute;
		color: var(--Primary-400, #61C5DD);
		font-family: "Open Sans";
		font-size: min(15.86px, 1.1vw);
		font-weight: 700;
		line-height: 1.61161;
		letter-spacing: -0.32px;
		text-decoration: none;
		padding-right: 26.4375vw;
		white-space: nowrap;
		cursor: grab;

		span.history-new--dial-dash-year {
			display: block;
			height: 1px;
			width: 1.25vw;
			background-color: #61C5DD;
		}
	}
	.history-new--dial-year-active {
		color: var(--Primary-50, #EFFBFF);
		font-size: min(57.6px, 4vw);
		font-weight: 800;
		line-height: 1.425;
		letter-spacing: -1.211px;
		gap: 5vw;
		//padding-right: 29.84vw;
		padding-right: 39.34vw
	}
	.history-grab-container {
		cursor: grab;
		display: block;
		height: 250%;
		left: 0;
		margin-inline: -68%;
		margin-bottom: -114%;
		margin-top: -76%;
		padding: 100%;
		position: absolute;
		top: 0;
		width: 250%;
		z-index: 0;
		border-radius: 50%;
	}
	.history-new--dial-dash {
		position: absolute;
		display: block;
		width: 0.65vw;
		height: 1px;
		span {
			display: block;
			width: 100%;
			height: 100%;
			background-color: #61c5dd;
			margin-left: -8.93vw;
		}
	}
	.history-new--dial-dash-year--inner {
		display: block;
		width: 6.25vw;
		text-align: right;
	}
	.history-new--right {
		.history-new--dial {
			display: flex;
			justify-content: flex-end;

		}
		.history-new--dial-center {
			top: min(129.6px, 9vw);
    		right: max(-69%, -308.8px);
			position: relative;
			transition: transform ease 0.3s;
			max-height: 432px;

			svg {
				object-fit: cover;
				//width: min(432px, 100%);
				height: 432px;
				width: auto;
				aspect-ratio: 1/1;
			}
		}
	}

	.history-new--dial-year-active span.history-new--dial-dash-year--inner {
		width: 16vw;
		position: relative;
		right: -2.5vw;
	}


	@media (min-width: 639px) and (max-width: 1023px) {
		.history-new--slide-right {
			padding: 0 max(1.5rem, 7vw);
		}
		.history-new--right .history-new--arrow-left {
			margin-left: max(1.5rem,7vw);
		}
		.history-new--right .history-new--arrow-right {
			margin-right: max(1.5rem,7vw);
		}
	}

	@media (max-width: 639px) {
		.history-new--slide-right {
			padding: 0 1rem;
		}
		.history-new--right .history-new--arrow-left {
			margin-left: 1rem;
		}
		.history-new--right .history-new--arrow-right {
			margin-right: 1rem;
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		.history-new--content {
			height: auto;
			aspect-ratio: 1024/840;
		}
		.history-new--left, .history-new--right {
			width: 50%;
			flex-basis: unset;
		}
		.history-new--slide-left, .history-new--slide-right {
			height: 50%;
		}
		.history-new--dial {
			transform: translateX(-8%);
		}
		.history-new--dial-year {
			font-size: 1.5vw;
		}
		.history-new--dial-year-active {
			font-size: 4vw;
		}

		.history-new--slide {
			.history-new--slide-bg-year-1, .history-new--slide-bg-year-2 {
				font-size: 47vw;
				left: max(-43.2px,-3vw);
			}

			&.history-new--slide-layout-One, &.history-new--slide-layout-Two, &.history-new--slide-layout-Three, &.history-new--slide-layout-Four {
				flex-direction: column;

				.history-new--slide-images {
					//margin-bottom: -21vw;
					display: unset;
				}

				.history-new--slide-left, .history-new--slide-right {
					width: 100%;
				}
				.history-new--slide-right {
					padding-top: unset;
				}

				.history-new--slide-info {
					transform: unset;
					width: 43ch;
				}

				 .slide-image-1 {
					top: -4.6875em;
					left: -12%;
					width: 73%;
					transform: unset;
				}

				 .slide-image-2 {
					left: 43%;
					top: -21vw;
					transform: unset;
					width: 32%
				 }
			}
		}
	}

	@media (max-width: 767px) {
		.history-new--content {
			flex-direction: column;
			aspect-ratio: unset;
			max-height: unset;
		}
		.history-new--left, .history-new--right {
			flex-basis: 100%;
			width: 100vw;
		}
		.history-new--slides {
			height: unset;
		}
		.history-new--slide-left, .history-new--slide-right {
			width: 100%;
		}

		.history-new--dial-center {
			transform: rotate(90deg);
		}

		.history-new--dial-year {
			font-size: 22px;
			flex-direction: column;
			padding-right: unset;
			justify-content: center;
			text-align: center;

			span.history-new--dial-dash-year {
				height: 10vw;
				margin-bottom: 28vw;
				width: 1px;
			}
		}

		.history-new--dial-dash {
			width: 6vw;
			height: 1px;
		}

		.history-new--dial-year-active {
			gap: unset;
			font-size: 11vw;
			&::after {
				content: '•';
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 4vw;
				font-size: 8vw;
			}
			.history-new--dial-dash-year {
				margin-bottom: 33vw !important;
			}
			span.history-new--dial-dash-year--inner {
				right: unset;
				width: unset;
			}
		}
		

		.history-new--slide {

			.history-new--slide-bg-year-1, .history-new--slide-bg-year-2 {
				display: none;
			}

			&.history-new--slide-layout-One, &.history-new--slide-layout-Two, &.history-new--slide-layout-Three, &.history-new--slide-layout-Four {

				.history-new--slide-left {
					width: 100%;
					margin-bottom: -15vw;
				}
				.history-new--slide-images {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: unset;
					transform: unset;
				}

				.history-new--slide-right {
					padding-top: unset;
					width: 100%;
					margin-bottom: unset;
				}

				.history-new--slide-info {
					width: 100%;
					transform: unset;
					padding-left: unset;
					
					.history-new--slide-title {
						color: var(--Primary-50, #EFFBFF);
						font-size: 30px;
						font-weight: 700;
						line-height: 1.28;
						letter-spacing: -0.6px;
					}
					.history-new--slide-text {
						color: var(--Primary-50, #EFFBFF);
						font-size: 16px;
						font-weight: 400;
						line-height: 22.1px; /* 138.125% */
						letter-spacing: -0.32px;
					}
				}

				display: flex;
				flex-direction: column;

				 .slide-image-1 {
				  	width: 79%;
				 	transform: translateY(-27%) translatex(-13%);
				  }

				 .slide-image-2 {
				 	width: 33.08%;
				 	transform: translateX(188%) translateY(21%);
					position: absolute;
				 	//margin-bottom: 16%;
					margin-bottom: unset;
				 }
			}
		}
		.history-new--right {
			overflow: hidden;
    		max-height: 49vw;
			position: relative;

			.history-new--arrows {
				position: absolute;
				top: 9.5vw;
				left: 0;
				width: 100vw;
				height: auto;
				display: flex;
				justify-content: space-between;
				z-index: 3;
			}
			.history-new--dial {
				justify-content: center;
				top: 42vw;
				position: relative;
			}
			.history-new--dial-dash-year--inner {
				width: unset;
			}
			.history-new--dial-year-active span.history-new--dial-dash-year--inner {
				position: relative;
			    top: -7vw;
			}
			.history-new--dial-center {
				max-height: unset;
				top: unset;
				left: unset;
				right: unset;

				svg {
					width: 176vw;
					height: auto;
					aspect-ratio: 1/1;

					path, circle {
						fill: #072D36;
					}
				}
			}
		}
	}

	
}