.ms-group {
    padding-top: 135px;
    padding-bottom: 135px;

    display: flex;
    flex-direction: column;
    row-gap: 100px;

    .ms-group-cat {

        .ms-group-cat-title {
            color: var(--primary-900, #045);
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: -0.56px;
            margin-bottom: 25px;
        }

        .ms-group-cat-desc {
            color: var(--primary-900, #045);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            max-width: 50ch;
            padding-bottom: 30px;
        }

        hr {
            height: 1px;
            background-color: #045;
            border: none;
            margin-bottom: 30px;
        }

        .ms-group-cat-posts {
            display: flex;
            gap: 25px;
            flex-wrap: wrap;
            width: calc(100% + 25px);
            margin-right: -25px;
        }

        .ms-group-cat-post {
            flex-basis: calc(25% - 25px);
        }

        .ms-group-cat-post-icon {
            aspect-ratio: 290/107;
            width: 100%;
            background-color: $gray100;
            border-radius: 10px;
            display: grid;
            place-items: center;
            margin-bottom: 10px;

            .icon-clipboard {
                max-width: 30px;
                max-height: 37px;
            }
        }

        .btn-blue-dark-blue {
            padding: 10px 20px;
            text-align: center;
            width: 100%;
            color: $white;
            font-size: 14px;
            font-weight: 600;
        }
    }
}