.news-featured {
    padding-top: 110px;
    padding-bottom: 110px;

    @include respond-below(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .news-featured-top {
        display: flex;
        margin-bottom: 39px;

        @include respond-below(md) {
            flex-direction: column-reverse;
            row-gap: 10px;
            margin-bottom: 35px;
        }
    }
    .news-featured-top-left, .news-featured-top-right {
        flex-basis: 50%;
    }
    .news-featured-top-right {
        display: flex;
        justify-content: flex-end;
        form {
            @include respond-below(md) {
                width: 100%;
                display: block;
            }
            display: block;
        }
        input {
            height: 42px;
            padding: 10px 16px;
            padding-right: 30px;
            border-radius: 5px;
            border: 1px solid var(--primary-500-main, #009FC6);
            background: $white;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4yNSA0Ljc1QzYuMzE3IDQuNzUgNC43NSA2LjMxNyA0Ljc1IDguMjVDNC43NSAxMC4xODMgNi4zMTcgMTEuNzUgOC4yNSAxMS43NUMxMC4xODMgMTEuNzUgMTEuNzUgMTAuMTgzIDExLjc1IDguMjVDMTEuNzUgNi4zMTcgMTAuMTgzIDQuNzUgOC4yNSA0Ljc1Wk0zIDguMjVDMyA1LjM1MDUxIDUuMzUwNTEgMyA4LjI1IDNDMTEuMTQ5NSAzIDEzLjUgNS4zNTA1MSAxMy41IDguMjVDMTMuNSA5LjM4Mzg1IDEzLjE0MDYgMTAuNDMzOCAxMi41Mjk0IDExLjI5MkwxNi43NDM3IDE1LjUwNjNDMTcuMDg1NCAxNS44NDggMTcuMDg1NCAxNi40MDIgMTYuNzQzNyAxNi43NDM3QzE2LjQwMiAxNy4wODU0IDE1Ljg0OCAxNy4wODU0IDE1LjUwNjMgMTYuNzQzN0wxMS4yOTIgMTIuNTI5NEMxMC40MzM4IDEzLjE0MDYgOS4zODM4NSAxMy41IDguMjUgMTMuNUM1LjM1MDUxIDEzLjUgMyAxMS4xNDk1IDMgOC4yNVoiIGZpbGw9IiMwMDlGQzYiLz4NCjwvc3ZnPg0K");
            background-repeat: no-repeat;
            background-position: 95% 9px;

            @include respond-below(md) {
                width: 100%;
                background-position: right 6px center;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--primary-500-main, #009FC6);
                font-size: 14px;
                font-family: Open Sans;
            }
        }
    }
    .news-featured-article {
        border-radius: 15px;
        box-shadow: 0px 17px 50px 0px rgba(16, 24, 40, 0.12);
        display: flex;

        @include respond-below(md) {
            flex-direction: column;
        }
    }
    .news-featured-article-left, .news-featured-article-right {
        flex-basis: 50%;
        padding-left: 90px;
        display: flex;
        flex-direction: column;
        align-self: center;

        @media (max-width: 1200px) {
            padding-left: 45px;
        }

        @include respond-below(md) {
            padding-left: 0;
        }
    }

    .news-featured-article-left {
        padding-top: 45px;
        padding-bottom: 45px;

        @include respond-below(md) {
            padding: 45px 35px;
        }
        .news-headline {
            color: var(--primary-900, #045);
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.48px;
            margin-bottom: 20px;
        }
        .news-excerpt {
            color: var(--primary-900, #045);
            font-size: 16px;
            font-family: Open Sans;
            line-height: 24px;
        }
        .btn-green-dark-green {
            width: 182px;
            margin-top: 35px;
            padding: 12px 20px;
            color: $white;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;

            // @include respond-below(md) {
            //     margin-top: 30px;
            // }
        }
    }
    .news-featured-article-right {
        display: flex;
        align-self: stretch;

        img {
            aspect-ratio: 526/420;
            width: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 100%;
            object-fit: cover;

            @include respond-below(md) {
                border-top-right-radius: unset;
                border-bottom-left-radius: 15px;
                //height: 233px;
                aspect-ratio: 12/9;
            }
        }
    }
    
    .tf-dropdown {
        border-radius: 5px;
        border: 1px solid var(--primary-500-main, #009FC6);
        height: 40px;
        box-sizing: border-box;

        @include respond-below(md) {
            width: 100%;
        }

        dt {
            padding: unset;
            @include respond-below(md) {
                min-width: 100%;
            }
        }

        dt p {
            color: var(--primary-500-main, #009FC6);
            font-size: 14px;
            font-family: Open Sans;
            font-weight: 600;
            line-height: 20px;
            padding-left: 11px;
            padding-right: 11px;
            line-height: 40px;
            // padding-top: 8px;
            // padding-bottom: 8px;

            @include respond-below(md) {
                padding-left: 16px;
            }
        }
        dt svg {
            padding-right: unset;
            margin-right: 11px;
        }
        
        dd {
            width: calc(100% + 2px);

            @include respond-below(md) {
                min-width: 100%;
            }

            ul {
                li {
                    color: var(--primary-500-main, #009FC6);
                    font-size: 14px;
                    font-family: Open Sans;
                    font-weight: 600;
                    line-height: 40px;
                    padding-left: 16px;

                    &:hover {
                        background-color: var(--primary-50, #EFFBFF);
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .tf-dropdown-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        dt svg path {
            fill: $white;
        }

        dd {
            border-radius: 5px;
            border: 1px solid var(--primary-500-main, #009FC6);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: none;
        }
        dt {
            background-color: var(--primary-500-main, #009FC6);
            p {
                color: $white;
            }
        }
    }
}