.primary-hero--section {
	@apply section-full bg-light-blue overflow-hidden;

	&:after {
		background-color: var(--primary-100, #cfeef6);
	}
}

.primary-hero--wrap {
	@apply relative z-10;
}

.primary-hero--inner {
	@apply flex flex-col-reverse lg:flex-row;

	@include respond-above(lg) {
		padding-bottom: unset;
	}
}

.primary-hero--content {
	@apply flex flex-col justify-center items-start;
	flex-grow: 1;
	gap: 30px;
	@apply theme-main;
	padding: max(1.5rem, min(9.2vw, 135px)) max(1.5rem, min(7vw, 100px));

	@include respond-above(5xl) {
		padding: max(1.5rem, min(9.2vw, 135px)) 8.4% max(1.5rem, min(9.2vw, 135px)) 7.2%;
	}

	@include respond-below(sm) {
		padding-bottom: 84px;
	}

	h1 {
		color: var(--primary-900, #045);
		font-size: 55px;
		font-family: $font-september;
		font-style: normal;
		font-weight: 700;
		line-height: 56px;

		@include respond-above(xl) {
			font-size: 65px;
			line-height: 66.071px;
		}
	}
}

.primary-hero--figure {
	@include respond-above(lg) {
		flex: 0 0 40%;
	}

	@include respond-above(xl) {
		flex: 0 0 45%;
	}

	@include respond-above(2xl) {
		flex: 0 0 50%;
	}

	img {
		@apply w-full h-full object-cover;
		clip-path: ellipse(90% 60% at 50% 40%);
		aspect-ratio: 390 / 241;

		@include respond-above(lg) {
			aspect-ratio: 840 / 670;
			clip-path: ellipse(55% 95% at 55% 50%);
		}

		@include respond-above(xl) {
			clip-path: ellipse(55% 97.5% at 55% 50%);
			max-height: 750px;
		}

		@include respond-above(2xl) {
			clip-path: ellipse(55% 110% at 55% 50%);
		}

		@include respond-above(4xl) {
			clip-path: ellipse(55% 140% at 55% 50%);
		}
	}
}

.primary-hero--decor {
	@apply absolute w-full h-full top-0 right-0 bottom-0 left-0;
	z-index: -1;

	svg {
		@apply absolute;
	}

	.small-boxes {
		left: -50px;
		bottom: 75px;
		height: 115px;

		@include respond-above(lg) {
			left: -20px;
			bottom: -25px;
			height: 172px;
		}
	}

	.small-box {
		@apply hidden md:block;
		left: 50px;
		bottom: -50px;

		@include respond-above(sm) {
			left: 90px;
		}

		@include respond-above(lg) {
			left: 120px;
			bottom: -45px;
		}
	}

	.big-boxes {
		height: 275px;
		top: -120px;
		right: -225px;

		@include respond-above(md) {
			height: 300px;
			right: -100px;
			top: -170px;
		}

		@include respond-above(lg) {
			height: unset;
			right: -90px;
		}
	}

	.medium-box {
		height: 193px;
		right: -45px;
		bottom: 155px;

		@include respond-above(sm) {
			height: unset;
			right: -50px;
			bottom: 50px;
		}

		@include respond-above(lg) {
			bottom: 25px;
		}
	}
}
