#main-content:has(.primary-cta) + #site-footer {
    padding-top: 89px;
}

.primary-cta {
    margin-top: 300px;
    position: relative;
    
    &:before {
        background-color: #00bdec;
        height: min(185px, 14vw);
        min-height: 179px;
    }

    .primary-cta-main {
        
        z-index: 20;
        position: relative;
        top: -230px;
        margin-bottom: -320px;
        //aspect-ratio: 1232/492;
        position: relative;
        //padding: 77px 282px 108px 104px;
        padding-left: 104px;
        padding-top: 77px;
        padding-bottom: 108px;

        box-sizing: border-box;
        //min-height: 492px;

        @media (max-width: 1200px) {
            padding-right: min(104px, 7.22vw);
            padding-left: min(104px, 7.222vw);
            padding-top: min(77px, 5.347vw);
            padding-bottom: min(108px, 7.500vw);
        }
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 0px 35px;
            border: 5px solid #FFF;
            z-index: -1;
        }
    }

    .primary-cta-main-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // padding: 81.004px 285.524px 81.004px 82px;
        // padding-left: 82px;
        // padding-right: 82px;
        // padding-top: 81px;
        // padding-bottom: 81px;
        padding: min(82px, 5.694vw);
        gap: 14.992px;

        border-radius: 10px;
        background-color: $white;
        box-sizing: border-box;
        position: relative;
        width: 68.67%;

        @media (max-width: 1200px) {
            width: 100%;
        }

        .primary-cta-title {
            color: var(--primary-900, #045);
            font-size: clamp(2.25rem, 1.65rem + 1.5vw, 3rem);
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -2.4px;
        }

        .primary-cta-subtext {
            color: var(--primary-900, #045);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            max-width: 52ch;

            @media (max-width: 1200px) {
                max-width: 100%;
                margin-bottom: 10px;
            }
        }

        .btn-green-dark-green {
            width: 287px;
            text-align: center;
            position: absolute;
            right: -163px;
            top: 70%;
            font-weight: 700;
            font-size: 16px;

            @media (max-width: 1200px) {
                position: relative;
                right: 0;
                top: 0;
            }
        }
    }
}