.primary-footer-cta--section {
	@apply text-white;
}

.primary-footer-cta--main {
	@apply relative z-10;
}

.primary-footer-cta--section {
	&.bg-blue {
		.primary-cta {
			@apply relative z-10;
			@include inner-wrap(835px);
			gap: 25px;
			padding-top: 70px;

			@include respond-above(md) {
				padding-top: 77.5px;
			}

			@include respond-above(lg) {
				padding-top: 86px;
			}

			&:before {
				content: '';
				@apply absolute;
				top: 40%;
				left: -90%;
				z-index: -1;
				height: 255px;
				width: 725px;
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='865' height='268' viewBox='0 0 865 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3403_23514)'%3E%3Cpath d='M648.912 77.9765V0.32073C649.946 0.220503 650.739 0.0801853 651.533 0.0801853C657.447 0.0668217 663.368 -0.140314 669.27 0.17373C672.877 0.367502 676.491 1.176 680.019 2.058C684.346 3.14045 687.133 6.12053 688.027 10.457C688.814 14.2656 689.534 18.1812 689.541 22.0499C689.647 84.2507 689.627 146.458 689.634 208.659C689.634 209.467 689.541 210.276 689.501 210.877C689.214 211.118 689.147 211.218 689.087 211.218C680.692 211.599 672.29 211.766 664.015 210.062C656.327 208.479 653.206 204.343 652.579 196.632C651.919 188.513 652.073 180.328 651.999 172.17C651.913 162.434 652.199 152.692 651.879 142.97C651.533 132.413 650.506 121.916 647.465 111.7C644.231 100.835 636.83 94.6609 626.027 92.4025C616.679 90.4447 607.19 90.5316 597.721 91.2867C593.354 91.6341 588.946 92.0083 584.665 92.8836C580.091 93.8257 576.87 96.8726 575.764 101.423C574.73 105.679 574.09 110.069 573.75 114.439C573.336 119.658 573.23 124.923 573.336 130.161C573.536 140.211 573.436 150.294 576.617 160.042C580.485 171.862 588.613 178.825 600.629 181.163C613.891 183.749 627.074 182.988 640.084 179.353C640.784 179.159 641.511 179.032 642.811 178.745C642.471 181.33 642.357 183.622 641.857 185.827C638.603 200.227 629.148 208.418 615.245 211.846C608.43 213.53 601.476 213.624 594.447 213.029C587.026 212.401 579.771 211.191 572.79 208.632C555.826 202.412 544.71 190.364 538.422 173.62C535.422 165.635 533.608 157.363 532.968 148.857C532.601 143.966 531.981 139.055 532.101 134.17C532.415 121.087 533.568 108.098 538.236 95.6833C545.604 76.0923 559.34 63.7243 579.764 59.0069C592.387 56.087 605.103 55.4188 617.799 58.5258C630.175 61.5527 641.057 67.0518 648.385 78.0767L648.925 77.9966L648.912 77.9765Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3Cpath d='M0 8.55941C1.46697 8.55941 2.29381 8.55941 3.11398 8.55941C37.6812 8.57277 72.2484 8.34559 106.809 8.69973C122.165 8.85341 137.255 11.3591 151.392 17.9607C169.089 26.2261 179.537 40.0641 182.105 59.3611C184.285 75.7381 182.925 91.8212 174.77 106.668C165.688 123.206 151.672 132.954 133.194 136.375C131.814 136.629 130.434 136.85 128.353 137.204C164.388 180.843 200.308 224.074 236.469 267.806C235.076 267.866 234.202 267.94 233.335 267.94C225.34 267.947 217.339 267.793 209.35 267.98C193.527 268.341 180.358 262.561 170.035 250.721C163.361 243.07 157.226 234.945 150.938 226.96C131.401 202.151 111.91 177.308 92.4059 152.472C89.0119 148.149 85.5645 143.859 82.2771 139.449C79.5699 135.828 77.9362 131.798 78.543 127.121C79.1365 122.537 82.3638 119.37 87.0248 119.183C91.6791 118.996 96.3667 119.33 101.008 119.016C106.956 118.615 112.97 118.254 118.791 117.058C130.947 114.566 138.135 106.942 139.989 94.5541C141.423 84.9523 141.589 75.3306 140.116 65.7088C138.889 57.6906 134.308 52.245 127.026 48.9909C120.552 46.0977 113.67 44.8549 106.649 44.8148C84.991 44.6945 63.3398 44.8616 41.682 44.7012C34.0337 44.6478 26.4188 43.8593 19.3174 40.5051C8.78183 35.5271 2.84726 27.0947 0.72015 15.8092C0.300062 13.5641 0.260054 11.2522 0 8.55941Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3Cpath d='M375.549 59.1005C376.809 59.1005 377.703 59.1005 378.596 59.1005C399.421 59.1139 420.245 58.9134 441.069 59.2141C453.392 59.3878 465.588 61.0449 477.297 65.2678C495.1 71.689 506.156 84.0236 510.17 102.626C511.791 110.156 512.271 117.767 512.264 125.437C512.244 153.04 512.257 180.642 512.257 208.245C512.257 209.147 512.257 210.049 512.257 210.938C511.711 211.138 511.411 211.345 511.104 211.352C503.956 211.439 496.794 211.653 489.699 210.41C483.345 209.294 480.451 206.087 480.004 199.619C479.724 195.569 479.524 191.52 479.264 187.137C478.69 187.652 478.21 187.939 477.924 188.36C469.288 201.209 456.913 208.398 442.049 211.225C423.426 214.773 405.108 213.39 387.518 205.9C378.089 201.884 370.354 195.703 365.207 186.656C361.986 180.996 360.286 174.863 360.019 168.341C359.699 160.463 360.132 152.699 363.093 145.256C367.08 135.226 374.602 128.939 384.371 125.05C392.712 121.729 401.441 119.925 410.369 119.691C426.346 119.27 442.329 119.257 458.306 119.09C458.793 119.09 459.28 119.21 460 119.31C460 120.727 460.173 122.123 459.973 123.466C458.373 133.977 451.931 140.01 441.896 142.302C437.875 143.218 433.694 143.538 429.56 143.779C423.752 144.113 417.904 143.886 412.11 144.327C404.735 144.895 402.561 147.507 402.008 154.202C401.661 158.339 401.521 162.548 401.874 166.677C402.288 171.488 405.148 174.923 409.403 177.181C414.597 179.941 420.245 180.97 425.999 181.137C433.821 181.364 441.663 181.284 449.484 181.123C452.625 181.057 455.799 180.676 458.873 180.014C465.934 178.497 470.382 175.451 470.882 165.408C471.562 151.77 471.416 138.093 471.502 124.428C471.529 119.778 471.582 115.061 470.915 110.477C469.782 102.686 465.314 97.287 457.806 94.5742C452.752 92.75 447.504 91.9014 442.169 91.8279C433.428 91.701 424.679 91.8413 415.931 91.7545C407.776 91.6743 399.627 91.4738 391.472 91.26C389.905 91.2199 388.325 90.946 386.791 90.6119C380.397 89.2354 377.649 86.3489 376.516 79.7072C376.069 77.0879 375.696 74.4352 375.596 71.7893C375.442 67.72 375.556 63.6375 375.556 59.0805L375.549 59.1005Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3Cpath d='M337.132 211.886C335.852 211.886 334.951 211.886 334.045 211.886C314.387 211.886 294.73 212.073 275.072 211.819C261.743 211.652 248.54 210.249 235.957 205.291C215.74 197.32 203.517 182.486 198.063 161.659C194.989 149.913 194.582 137.946 195.216 125.958C195.729 116.136 197.629 106.501 201.404 97.3136C208.778 79.3462 222.015 67.7867 240.218 61.6929C248.133 59.047 256.282 57.4567 264.63 57.0825C270.278 56.8286 275.952 56.4143 281.58 56.6883C298.097 57.4968 313.647 61.4925 326.823 72.1433C338.826 81.8452 345.52 94.6409 348.227 109.702C349.548 117.058 349.268 124.475 349.154 131.878C349.128 133.856 348.748 135.847 348.307 137.785C346.921 143.859 343.933 146.438 337.752 146.819C333.271 147.093 328.783 147.293 324.296 147.307C299.891 147.354 275.486 147.327 251.081 147.327H247.607C247.713 145.87 247.753 144.607 247.893 143.351C249.24 131.357 257.675 124.635 268.458 122.704C271.952 122.076 275.546 121.776 279.106 121.722C287.768 121.582 296.43 121.675 305.092 121.675C306.079 121.675 307.072 121.675 308.166 121.675C309.079 118.669 308.433 115.902 307.812 113.19C304.572 99.0241 294.33 90.5382 281.16 89.0215C271.812 87.9457 262.25 88.6607 252.781 88.8143C250.174 88.8544 247.533 89.5627 244.999 90.2977C241.585 91.2933 239.071 93.6319 238.265 97.0864C237.311 101.189 236.444 105.405 236.358 109.588C236.104 122.177 236.244 134.772 236.238 147.36C236.238 161.947 244.052 172.637 257.949 177.141C263.47 178.932 269.171 179.526 274.906 179.58C289.149 179.713 303.391 179.613 317.634 179.733C320.515 179.76 323.422 180.215 326.27 180.736C331.384 181.678 334.538 184.858 335.658 189.91C337.232 197.019 337.345 204.229 337.125 211.873L337.132 211.886Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3Cpath d='M852.666 211.886C851.679 211.886 850.773 211.886 849.872 211.886C830.215 211.886 810.551 212.06 790.9 211.826C777.991 211.672 765.181 210.343 752.939 205.746C731.448 197.674 718.738 182.045 713.457 159.955C710.757 148.663 710.39 137.177 711.05 125.691C711.69 114.593 713.977 103.782 718.852 93.6519C727.207 76.2926 741.223 65.9091 759.387 60.6505C766.508 58.5925 773.803 57.5235 781.205 56.9755C793.987 56.0334 806.637 56.5145 819.006 60.1294C839.41 66.1029 853.993 78.5243 861.248 98.8771C863.635 105.579 865.022 112.528 864.995 119.644C864.975 125.704 864.869 131.818 864.035 137.799C863.195 143.799 859.661 146.465 853.546 146.819C848.899 147.086 844.244 147.293 839.59 147.3C815.352 147.347 791.113 147.32 766.868 147.32H763.848C762.901 144.808 763.714 142.543 764.241 140.351C766.502 130.943 772.83 125.517 781.905 123.259C785.739 122.303 789.773 121.842 793.727 121.742C802.803 121.522 811.884 121.669 820.966 121.669C821.953 121.669 822.94 121.669 824.02 121.669C824.927 118.722 824.267 116.023 823.694 113.397C820.78 100.093 810.331 90.3778 796.715 88.8677C786.119 87.6917 775.444 87.6851 764.861 89.1952C755.593 90.5248 753.012 95.5161 752.719 103.394C752.139 119.043 751.825 134.732 752.245 150.38C752.579 162.869 760.34 172.771 773.796 177.141C779.318 178.932 785.019 179.526 790.753 179.58C805.41 179.72 820.073 179.62 834.736 179.767C837.45 179.794 840.19 180.335 842.851 180.923C848.532 182.166 851.239 186.335 851.859 191.634C852.6 197.981 852.666 204.403 853.013 210.797C853.026 211.024 852.873 211.258 852.673 211.88L852.666 211.886Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3Cpath d='M26.5535 214.452V211.004C26.5535 177.234 26.5535 143.458 26.5535 109.688C26.5535 98.4628 28.1805 87.5849 33.7617 77.6624C39.6896 67.1052 48.7848 60.9713 60.7273 59.1204C63.0745 58.7529 65.4683 58.6661 68.0955 58.4255C68.1822 59.6283 68.2889 60.4301 68.2889 61.2319C68.2889 101.095 68.3689 140.952 68.1889 180.816C68.1622 186.676 67.162 192.569 66.2418 198.382C65.1216 205.458 60.7206 210.075 54.0659 212.294C50.7186 213.41 47.1378 214.151 43.6171 214.372C38.0959 214.713 32.5481 214.459 26.5469 214.459L26.5535 214.452Z' fill='%23DFD1D2' fill-opacity='0.11'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3403_23514'%3E%3Crect width='865' height='268' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

				@include respond-above(sm) {
					top: 0;
					width: 825px;
					height: 220px;
					background-size: cover;
					background-position: bottom right;
				}
			}

			&:after {
				@apply absolute section-full w-screen overflow-hidden;
				top: 45%;
				z-index: -1;
				content: '';
				height: 750px;
				background-size: 300%;
				background-image: url("data:image/svg+xml,%3Csvg width='1899' height='926' viewBox='0 0 1899 926' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 20.7581H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 78.584H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 136.409H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 194.235H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 252.06H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 309.886H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 367.711H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 425.537H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 483.362H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 541.188H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 599.013H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 656.839H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 714.664H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 772.49H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 830.315H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M0 888.141H1898.93' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M47.4688 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M110.258 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M173.039 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M235.844 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M298.625 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M361.406 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M424.188 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M486.969 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M549.758 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M612.555 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M675.336 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M738.125 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M800.906 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M863.688 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M926.484 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M989.266 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1052.05 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1114.84 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1177.62 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1240.4 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1303.2 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1365.98 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1428.77 0.000244141V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1491.55 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1554.34 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1617.13 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1679.91 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1742.7 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1805.48 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3Cpath d='M1868.27 0V925.208' stroke='%23DBF2F8' stroke-opacity='0.25' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

				@include respond-above(sm) {
					background-size: 250%;
					background-position: center;
					right: -100%;
				}

				@include respond-above(md) {
					background-size: 175%;
				}

				@include respond-above(xl) {
					background-size: 130%;
					max-width: 1440px;
					right: -140%;
				}

				@include respond-above(3xl) {
					background-size: 100%;
					right: calc(-140% + 5vw);
				}
			}

			h2 {
				color: #fafafa;
				font-size: 28px;
				font-weight: 700;
				line-height: 36px;
				letter-spacing: -0.56px;

				@include respond-above(md) {
					font-size: 36px;
					line-height: 44px;
					letter-spacing: -1.44px;
				}
			}

			.primary-cta-btn {
				@apply btn-dark-blue-blue;

				&:hover {
					border-color: $white;
				}
			}
		}
	}

	.primary-footer-secondary--wrap {
		@include respond-above(md) {
			padding-top: clamp(25px, 4.75vw, 65px);
		}
	}
}

.primary-footer-cta--main {
	.primary-footer-cta--cta {
		@apply flex flex-col items-center justify-center text-center;
	}

	.primary-cta {
		padding-bottom: 65px;
		flex: 0 0 100%;
	}
}

.primary-footer-secondary--wrap {
	@apply flex flex-wrap md:pt-8 lg:pt-16 relative z-10;
	gap: 25px;
	padding: 24px 0;
	@apply bg-blue;

	@include respond-above(sm) {
		&:after {
			content: unset;
		}
	}

	@include respond-above(lg) {
		padding: unset;

		&:after {
			@apply absolute section-full bottom-0 left-0 right-0;
			top: unset;
			height: 110px;
			background-color: var(--primary-footer-blue, #072d36);
			content: '';
		}
	}

	.secondary-cta {
		@apply relative z-10;
		flex: 1 0 100%;
		background-color: var(--primary-100, #cfeef6);
		color: var(--primary-900, #045);
		padding: 63px 20px;
		border-radius: 1rem;

		@include respond-above(sm) {
			padding: 63px min(4vw, 50px);
		}

		@include respond-above(lg) {
			padding: 63px 80px;
			flex: 1 0 calc(50% - calc(25px / 2));
		}

		h3 {
			@apply mt-4;
			color: var(--primary-900, #045);
			font-size: 22px;
			font-weight: 700;
			line-height: 23.535px;
		}

		p {
			@apply mt-4;
		}

		.secondary-cta-btn {
			@apply btn-blue-dark-blue mt-8;
		}
	}
}

.footer-cta-icon--wrap {
	width: 47px;
	height: 47px;
	background-color: var(--primary-500-main, #009fc6);
	border-radius: 50%;
	@apply relative;

	&:after {
		@apply flex items-center justify-center w-full h-full;
		transform: translateY(2px);
	}

	&.document {
		&:after {
			content: url("data:image/svg+xml,%3Csvg width='17' height='21' viewBox='0 0 17 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.75 16.4064H12.75V14.4064H4.75V16.4064ZM4.75 12.4064H12.75V10.4064H4.75V12.4064ZM2.75 20.4064C2.2 20.4064 1.72917 20.2106 1.3375 19.8189C0.945833 19.4273 0.75 18.9564 0.75 18.4064V2.40643C0.75 1.85643 0.945833 1.3856 1.3375 0.993933C1.72917 0.602266 2.2 0.406433 2.75 0.406433H10.75L16.75 6.40643V18.4064C16.75 18.9564 16.5542 19.4273 16.1625 19.8189C15.7708 20.2106 15.3 20.4064 14.75 20.4064H2.75ZM9.75 7.40643V2.40643H2.75V18.4064H14.75V7.40643H9.75Z' fill='%23BAE3E9'/%3E%3C/svg%3E%0A");
		}
	}

	&.phone {
		&:after {
			content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2 18.4064C15.05 18.4064 12.9542 17.9273 10.9125 16.9689C8.87083 16.0106 7.0625 14.7439 5.4875 13.1689C3.9125 11.5939 2.64583 9.7856 1.6875 7.74393C0.729167 5.70227 0.25 3.60643 0.25 1.45643C0.25 1.15643 0.35 0.906433 0.55 0.706433C0.75 0.506433 1 0.406433 1.3 0.406433H5.35C5.58333 0.406433 5.79167 0.481433 5.975 0.631433C6.15833 0.781433 6.26667 0.9731 6.3 1.20643L6.95 4.70643C6.98333 4.93977 6.97917 5.15227 6.9375 5.34393C6.89583 5.5356 6.8 5.70643 6.65 5.85643L4.225 8.30643C4.925 9.50643 5.80417 10.6314 6.8625 11.6814C7.92083 12.7314 9.08333 13.6398 10.35 14.4064L12.7 12.0564C12.85 11.9064 13.0458 11.7939 13.2875 11.7189C13.5292 11.6439 13.7667 11.6231 14 11.6564L17.45 12.3564C17.6833 12.4064 17.875 12.5189 18.025 12.6939C18.175 12.8689 18.25 13.0731 18.25 13.3064V17.3564C18.25 17.6564 18.15 17.9064 17.95 18.1064C17.75 18.3064 17.5 18.4064 17.2 18.4064ZM3.275 6.40643L4.925 4.75643L4.5 2.40643H2.275C2.35833 3.08977 2.475 3.76477 2.625 4.43143C2.775 5.0981 2.99167 5.75643 3.275 6.40643ZM12.225 15.3564C12.875 15.6398 13.5375 15.8648 14.2125 16.0314C14.8875 16.1981 15.5667 16.3064 16.25 16.3564V14.1564L13.9 13.6814L12.225 15.3564Z' fill='%23BAE3E9'/%3E%3C/svg%3E%0A");
		}
	}
}
