// /* temp because mobile menu is open on page load */
// .mobile-menu {
//     display: none !important;
// }

.product-itemized-quote {
    margin: clamp(2.375rem, -1.225rem + 9vw, 6.875rem) 0;
    position: relative;

    .sf-hidden {
        display: none;
    }
    #find_us, #how-to-contact, #rfq-state, #rfq-country {
        border: 1px solid var(--primary-300,#8bd4df);
        height: auto;

        dt {
            padding: 11px 23px;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: var(--primary-300, #8BD4DF);
        }
    }
    #rfq-state ul, #rfq-country ul {
        max-height: 300px;
        overflow: auto;
    }
    #find_us.rfq-error, #how-to-contact.rfq-error, #rfq-state.rfq-error, #rfq-country.rfq-error {
        background-color: var(--primary-50,#effbff);
        border: 1px solid #f15252;
        p {
            color: #f15252;
        }
    }
    #rfq-find-us-other {
        display: none;
    }
    #piq-product-info, .piq-product-info {
        width: 100%;
    }
    #rfq-newsletter-p, #rfq-tos {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        padding-left: 24px;
        text-indent: -21px;

        input {
            width: auto;
            padding-right: 5px;
        }

        a {
            text-decoration: underline;
            font-weight: 600;
        }
    }
    #rfq-tos {
        margin-top: 10px;

        input {
            position: relative;
            top: 1px;
        }
    }
    #rfq-tos.rfq-error {
        color: #f15252;
        font-weight: 600;
    }
    .piq-decor {
        position: absolute;
        right: 0;
        top: -30px;
        @apply section-full;

        @include respond-below(md) {
            display: none;
        }
    }

    .title {
        color: var(--primary-900, #045);
        font-size: clamp(2.25rem, 1.55rem + 1.75vw, 3.125rem);
        font-weight: 700;
        line-height: 1; /* 96% */
        letter-spacing: -1.5px;
        margin-bottom: clamp(3.313rem, 0.212rem + 7.75vw, 7.188rem);

        @include respond-below(sm) {
            text-align: center;
        }
    }

    .piq-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 10;

        @include respond-below(lg) {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    #piq-form-submit:disabled {
        background-color: $gray300;
        border: solid 1px $gray300;
        cursor: not-allowed;
    }

    .rfq-error-message {
        display: none;
    }

    .rfq-error-message p {
        color: red;
        font-weight: 600;
    }



    .rfq-empty {
        display: none;
        padding: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex: 1 0 0;
        border-radius: 10px;
        background-color: var(--primary-50, #EFFBFF);
        width: 100%;
        text-align: center;

        @include respond-below(sm) {
            padding: 30px;
        }

        .btn-blue-dark-blue {
            padding: 12px 20px;
            font-weight: 500;
            min-width: 274px;

            @include respond-below(sm) {
                min-width: unset;
            }
        }
    }

    .rfq-empty-headline {
        color: var(--primary-900, #045);
        font-size: 18px;
        font-weight: 700;
        line-height: 24px; /* 133.333% */
        letter-spacing: -0.36px;
        display: block;
        text-wrap: balance;
    }

    .rfq-empty-subtext {
        color: var(--primary-900, #045);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }

    .rfq-cas-number {
        color: #BCBCBC;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7;
        letter-spacing: -0.28px;
    }
    .rfq-notes {
        width: 100%;
        aspect-ratio: 818/228;
        background-color: var(--gray50);
        border-radius: 10px;
        padding: 12px 20px;
        border: solid 1px transparent;
        color: var(--primary-900, #045);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;

        @include respond-below(lg) {
            aspect-ratio: 302/216;
            max-height: 300px;
        }

        &::placeholder {
            color: $gray400;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px; /* 166.667% */
        }

        &:focus {
            outline: none;
            border: 1px solid var(--primary-500-main, #009FC6);
        }
    }

    .piq-additional-notes {
        color: var(--primary-900, #045);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3; /* 133.333% */
        letter-spacing: -0.36px;
    }

    .piq-container-left-bottom {
        padding: 50px 30px;
        background: var(--primary-50, #EFFBFF);
        border-radius: 10px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;

        .btn-green-black-text {
            margin-top: 20px;
            padding: 12px;
            font-weight: 500;
            display: flex;
            align-self: center;
            min-width: min(100%, 306px);
            font-weight: 700;
            border-radius: 6px;
            background: var(--Secondary-Green, #8BC53F);
            color: #fff;

            svg path {
                fill: #fff;
            }
        }
    }

    .piq-container-left {
        flex-basis: 66%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex-shrink: 0;

        @include respond-below(lg) {
            flex-basis: 100%;
            width: 100%;
        }

        .piq-cart-item {
            display: flex;
            flex-direction: column;
            row-gap: 17px;
            align-items: flex-start;
            width: 100%;

            @include respond-below(md) {
                row-gap: 20px;
                position: relative;
            }

            hr {
                height: 1px;
                width: 100%;
                background-color: $gray300;
                border: none;
            }
        }

        .piq-product-name {
            color: var(--primary-900, #045);
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3; /* 133.333% */
            letter-spacing: -0.36px;

            @include respond-below(md) {
                // prevent title from running into x close icon
                max-width: 85%;
            }
        }

        .piq-product-details-info {
            display: flex;
            gap: 20px;


            background-color: var(--gray50);
            border-radius: 10px;
            padding: 17px;
            width: 100%;

            @include respond-below(md) {
                flex-direction: column;
            }

            p, label {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.4;
            }

            p {
                margin-bottom: 17px;

                &.rfq-error {
                    color: #f15252;
                    font-weight: 600;

                    + .rfq-using-yes.rfq-error + label {
                        color: #f15252;
                        font-weight: 600;
                    }

                    ~ .rfq-using-no.rfq-error + label {
                        color: #f15252;
                        font-weight: 600;
                    }
                }
            }

            textarea {
                width: 100%;
                height: 75px;
                border-radius: 5px;
                border: solid 1px rgb(0, 159, 198);
                background-color: var(--gray50);
                padding: 10px;
                color: var(--primary-900,#045);
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;

                &::placeholder {
                    font-size: 14px;
                    line-height: 1.4;
                    font-weight: 400;
                    color: #999;
                }

                &:focus {
                    outline: none;
                }

                &.rfq-error {
                    border: solid 1px #f15252;
                    color: #f15252;

                    &::placeholder {
                        color: #f15252;
                        font-weight: 600;
                    }
                }
            }

            .piq-product-details-info-left, .piq-product-details-info-right {
                flex-basis: 50%;
            }
        }
        .piq-product-details {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            @include respond-below(lg) {
                flex-direction: column-reverse;
                row-gap: 20px;
                align-items: flex-start;
            }

            .piq-product-details-attributes {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 8px;

            }

            .piq-product-details-attributes-attribute {
                display: flex;
                align-items: center;
                padding: 3px 20px;
                border-radius: 5px;
                background: var(--primary-50, #EFFBFF);
                color: var(--primary-500-main, #009FC6);
                font-size: 12px;
                font-weight: 600;
                line-height: 1.6;
            }
            .piq-product-details-qty {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 8px;

                .tf-dropdown {
                    margin-right: 12px;
                }
            }
            .product-qty {
                    max-width: 72px;
                    border-radius: 5px;
                    border: 1px solid var(--primary-500-main, #009FC6);
                    padding: 3px 14px;
                    color: var(--primary-500-main, #009FC6);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 20px; /* 166.667% */
                    padding-right: 5px;
            }
        }
    }
    .piq-container-right {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        flex-basis: 32%;

        @include respond-below(lg) {
            flex-basis: 100%;
            width: 100%;
        }

        .btn-blue-light-blue, .btn-dark-blue-blue {
            //font-family: "Inter";
            padding: 12px 20px;
            width: 100%;
            font-weight: 500;

            @include respond-below(lg) {
                max-width: 55%;
                margin: 0 auto;
            }

            @include respond-below(sm) {
                max-width: 100%;
            }
        }

        .tf-dropdown ul {
            max-height: unset;
        }
        .tf-dropdown ul li {
            font-size: 14px;
            line-height: 1.4;
            padding: 11px 23px;
        }
    }

    .piq-bottom-block-headline {
        color: var(--primary-900, #045);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.36px;
        margin-bottom: 5px;
        text-wrap: balance;
    }

    .piq-bottom-block-text {
        color: var(--primary-900, #045);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
    }

    .piq-container-right-form {
        width: 100%;
        display: flex;
        padding: 45px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-radius: 10px;
        background: var(--primary-50, #EFFBFF);

        .piq-form-headline {
            color: var(--primary-900, #045);
            font-size: 24px;
            font-weight: 700;
            line-height: 1.3; /* 133.333% */
            letter-spacing: -0.48px;
        }

        .piq-form {
            width: 100%;
        }

        .piq-form-container {
            display: flex;
            flex-direction: column;
            row-gap: 9px;

            input:not([type="submit"]) {
                width: 100%;
                border-radius: 5px;
                border: 1px solid var(--primary-300, #8BD4DF);
                background: var(--primary-50, #EFFBFF);
                padding: 11px 23px;
                color: var(--primary-900, #045);
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;

                &::placeholder {
                    color: var(--primary-300, #8BD4DF);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.4;
                }

                &:focus {
                    border-radius: 5px;
                    border: 1px solid var(--primary-500-main, #009FC6);
                    outline: none;
                }

                &.rfq-error {
                    border: 1px solid #F15252;
                    background: var(--primary-50, #EFFBFF);
                    color: #f15252;

                    &::placeholder {
                        color: #f15252;
                    }
                }
            }


        }
    }

    .removeFromQuote {
        @include respond-below(md) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .tf-dropdown {
        width: 100%;
        border-radius: 5px;
        background: var(--primary-50, #EFFBFF);
        border: none;
        position: relative;
        z-index: 20;

        dt p, dd ul li {
            color: var(--primary-500-main, #009FC6);
            font-size: 12px;
            font-weight: 600;
            line-height: 20px; /* 166.667% */
        }

        dd ul {
            border-radius: 5px;
            //border: 1px solid var(--primary-500-main, #009FC6);
            background: #FFF;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        dt, dd ul li {
            padding: unset;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        dd ul li {
            width: 100%;
            &:hover {
                background-color: var(--primary-100, #CFEEF6);
                font-weight: 600;
            }
        }
        dd {
            width: calc(100% + 2px);
            border: solid 1px var(--primary-500-main, #009FC6);
            border-radius: 5px;
            margin-top: 6px;
        }

        dt, dd ul {
            min-width: 140px;
        }

        dt {
            display: flex;
            justify-content: space-between;
        }

        dt svg {
            padding-right: unset;

            path {
                fill: var(--primary-500-main, #009FC6);;
            }
        }
    }
    .tf-dropdown {
        transition-delay: 0.35s;
    }

    .tf-dropdown-open {
        //border-bottom: 1px solid var(--primary-500-main, #009FC6);
        //border-bottom-left-radius: 0;
        //border-bottom-right-radius: 0;
        position: relative;
        z-index: 30;
         transition: z-index 0s linear;

        dd ul {
            //border-top: 1px solid var(--primary-500-main, #009FC6);
            //border-top-left-radius: 0;
            //border-top-right-radius: 0;
        }
    }
}
body.itemized-rfq {
    .site-footer {
        z-index: 9;
    }
}