.product-rfq {
    margin: clamp(0.938rem, -0.813rem + 4.375vw, 3.125rem) 0;
    margin-bottom: 65px;
    border-radius: 10px;
    box-shadow: 0px 17px 50px 0px rgba(16, 24, 40, 0.12);

    #product-rfq-error-message {
        color: red;
        font-weight: 600;
        display: none;
    }
    .product-rfq-top {
        padding: clamp(2.813rem, 1.313rem + 3.75vw, 4.688rem) clamp(1.563rem, -2.338rem + 9.75vw, 6.438rem);
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        position: relative;
        z-index: 20;
        background-color: $white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product-rfq-top .btn-blue-dark-blue {
        padding: 12px 20px;
        display: flex;
        align-self: flex-start;
    }

    .product-rfq-headline {
        color: var(--primary-900, #045);
        font-size: clamp(1.5rem, 1.3rem + 0.5vw, 1.75rem);
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.56px;
    }

    .product-rfq-text {
        color: var(--primary-900, #045);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }

    .product-rfq-bottom {
        background-color: var(--primary-500-main, #009FC6);
        padding: 34px clamp(1.563rem, -2.338rem + 9.75vw, 6.438rem);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 24px;

        @include respond-below(sm) {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    .product-rfq-bottom span {
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
    }
    .product-rfq-bottom a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .product-rfq-options {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .tf-dropdown-hidden {
        display: none;
    }
    .tf-dropdown-shown {
        display: block;
    }


    .tf-dropdown {
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--primary-500-main, #009FC6);
        background: #FFF;
        position: relative;
        z-index: 20;
        transition-delay: 0.35s;
        transition-property: border-bottom-left-radius, border-bottom-right-radius, z-index;

        dt p, dd ul li {
            color: var(--primary-900, #045);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
        }

        dd ul {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 1px solid var(--primary-500-main, #009FC6);
            background: #FFF;
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        dt, dd ul li {
            padding: unset;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        dd ul li {
            width: 100%;
            &:hover {
                background-color: var(--primary-100, #CFEEF6);
                font-weight: 600;
            }
        }
        dd {
            width: calc(100% + 2px);
            border: none;
        }

        dt svg {
            padding-right: unset;
        }
    }

    .tf-dropdown-open {
        //border-bottom: 1px solid var(--primary-500-main, #009FC6);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        z-index: 30;
        transition: z-index 0s linear;

        dd ul {
            border-top: 1px solid var(--primary-500-main, #009FC6);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .product-rfq-top-decor {
        position: absolute;
        top: 0;
        right: 0;

        @include respond-below(lg) {
            display: none;
        }
    }

    .product-rfq-qty {
        display: flex;
        align-items: center;
        column-gap: 15px;

        @include respond-below(sm) {
            justify-content: space-bewteen;
        }
    }

    #product-qty {
        max-width: 85px;
        @include respond-below(sm) {
            max-width: unset;
            width: calc(50% - 7.5px);
        }

        ul {
            max-height: unset;
            overflow-y: hidden;
        }

        border-radius: 5px;
        border: 1px solid var(--primary-500-main, #009FC6);
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--primary-900, #045);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
    }
    #product-units {
        max-width: 150px;
        @include respond-below(sm) {
            max-width: unset;
            width: calc(50% - 7.5px);
        }

        ul {
            max-height: unset;
            overflow-y: hidden;
        }
    }

    .tf-dropdown-hidden-with-value {
        height: 0;
        overflow: hidden;
        border: none;
    }

    #product-submit-button:disabled {
        background-color: var(--neutral-300,#d4d4d4);
        border: 1px solid transparent;
    }

}
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 16px;
  height: 16px;
  display: none;
  
  & .path {
    stroke: hsl(0, 100%, 100%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}