.testimonial-slider--section {
 @apply bg-light-blue; 

 &:after {
  background: linear-gradient(180deg, rgba(0, 159, 198, 0.00) 0%, rgba(0, 159, 198, 0.08) 100%);
  bottom: 0;
  top: unset;
  height: 75%;
 }
}


.testimonial-slider--main {
	@apply relative;
	padding: 55px 0 35px;

	@include respond-above(xl) {
		padding: 70px 0 75px;
	}

	&:before {
		@apply absolute top-0;
		content: '';
		left: -50px;
		height: 110px;
		width: 183px;
		background-size: contain;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='280' height='169' viewBox='0 0 280 169' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M279.013 0C275.351 17.9262 271.592 36.9126 267.737 56.9592C264.075 77.0057 260.701 96.6668 257.617 115.942C254.726 135.218 252.413 152.759 250.678 168.564H151.795L147.458 162.204C151.12 147.94 155.65 130.977 161.047 111.316C166.637 91.4624 172.612 71.6086 178.973 51.7548C185.527 31.7082 192.081 14.4566 198.634 0H279.013ZM131.555 0C127.893 17.9262 124.134 36.9126 120.279 56.9592C116.617 77.0057 113.244 96.6668 110.16 115.942C107.268 135.218 104.955 152.759 103.22 168.564H4.33699L0 162.204C3.66235 147.94 8.1921 130.977 13.5892 111.316C19.1791 91.4624 25.1546 71.6086 31.5155 51.7548C38.0692 31.7082 44.6228 14.4566 51.1765 0H131.555Z' fill='%23CFEEF6'/%3E%3C/svg%3E%0A");

		@include respond-above(md) {
			left: -200px;
			height: 169px;
			width: 280px;
		}
	}
}

.testimonial-slider--inner {
	@apply relative z-50;
}

.testimonial-slider--slider {
	@apply relative;

	&:after {
		@apply absolute;
		z-index: -1;
		content: '';
		right: -90px;
		bottom: -82px;
		height: 123px;
		width: 203px;
		background-size: contain;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='213' height='129' viewBox='0 0 213 129' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000274658 128.376C2.78892 114.724 5.65149 100.264 8.58749 84.997C11.3767 69.7298 13.9457 54.7563 16.2945 40.0763C18.4965 25.3963 20.2581 12.0376 21.5793 1.43135e-06L96.8875 -5.1523e-06L100.19 4.84439C97.4013 15.7076 93.9515 28.6259 89.8411 43.5995C85.5839 58.7199 81.0331 73.8402 76.1887 88.9606C71.1975 104.228 66.2063 117.366 61.2152 128.376L-0.000274658 128.376ZM112.301 128.376C115.091 114.724 117.953 100.264 120.889 84.997C123.678 69.7298 126.247 54.7563 128.596 40.0763C130.798 25.3963 132.56 12.0376 133.881 -8.38638e-06L209.189 -1.497e-05L212.492 4.84438C209.703 15.7076 206.253 28.6259 202.143 43.5995C197.886 58.7198 193.335 73.8402 188.49 88.9606C183.499 104.228 178.508 117.366 173.517 128.376L112.301 128.376Z' fill='%23CFEEF6'/%3E%3C/svg%3E%0A");

		@include respond-above(md) {
			right: -150px;
			bottom: -75px;
			height: 129px;
			width: 213px;
		}
	}

	.slick-list {
		overflow: visible !important;

		.slick-track {
			display: flex;
			max-width: 100%;
			width: 100%;
			gap: 10px;

			@include respond-above(xl) {
				height: 100%;
				min-height: fit-content;
			}

			@include respond-above(lg) {
				gap: 25px;
			}
		}
	}
}

.testimonial-slider--slide {
	@apply flex flex-col;
	flex: 0 0 100%;
	padding: 36px 25px;
	background-color: $white;
	box-shadow: 0px 8px 36px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	//aspect-ratio: 605/337;
	height: auto;
	max-width: 605px;

	@include respond-below(lg) {
		//aspect-ratio: 342/271;
	}

 @include respond-above(xl) {
		//height: 100%;
		min-height: fit-content;
	}


	@include respond-above(lg) {
		flex: 0 0 calc(50% - calc(25px / 2));
		padding: 45px 50px;
	}
}

.testimonial-slider--info {
	@apply relative flex flex-col;
	padding-left: 77px;
	gap: 5px;

	&:before {
		@apply absolute flex items-center justify-center;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		border: 2px solid var(--primary-500-main, #009fc6);
		height: 57px;
		width: 57px;
		content: url("data:image/svg+xml, %3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4305_68775)'%3E%3Cpath d='M10.3519 12.5096C11.2034 12.5096 12.0357 12.2571 12.7437 11.7841C13.4516 11.311 14.0034 10.6387 14.3292 9.85204C14.6551 9.06539 14.7403 8.19979 14.5742 7.3647C14.4081 6.52961 13.9981 5.76252 13.396 5.16045C12.794 4.55838 12.0269 4.14837 11.1918 3.98226C10.3567 3.81615 9.49108 3.9014 8.70444 4.22724C7.9178 4.55308 7.24545 5.10486 6.7724 5.81282C6.29936 6.52078 6.04688 7.35312 6.04688 8.20457C6.04688 9.34634 6.50044 10.4413 7.30779 11.2487C8.11514 12.056 9.21014 12.5096 10.3519 12.5096ZM10.3519 6.05205C10.7776 6.05205 11.1938 6.1783 11.5478 6.41482C11.9018 6.65134 12.1777 6.98752 12.3406 7.38084C12.5035 7.77416 12.5461 8.20696 12.4631 8.62451C12.38 9.04205 12.175 9.42559 11.874 9.72663C11.5729 10.0277 11.1894 10.2327 10.7718 10.3157C10.3543 10.3988 9.9215 10.3562 9.52818 10.1932C9.13485 10.0303 8.79868 9.75442 8.56216 9.40044C8.32563 9.04646 8.19939 8.6303 8.19939 8.20457C8.19939 7.63369 8.42617 7.08619 8.82985 6.68251C9.23352 6.27884 9.78102 6.05205 10.3519 6.05205Z' fill='%23009FC6'/%3E%3Cpath d='M18.9631 14.6627C19.6017 14.6627 20.226 14.4734 20.757 14.1186C21.2879 13.7638 21.7018 13.2596 21.9461 12.6696C22.1905 12.0796 22.2545 11.4304 22.1299 10.8041C22.0053 10.1778 21.6978 9.60244 21.2462 9.15089C20.7947 8.69934 20.2194 8.39182 19.5931 8.26724C18.9667 8.14266 18.3175 8.2066 17.7276 8.45098C17.1376 8.69536 16.6333 9.1092 16.2785 9.64016C15.9237 10.1711 15.7344 10.7954 15.7344 11.434C15.7344 12.2903 16.0745 13.1116 16.6801 13.7171C17.2856 14.3226 18.1068 14.6627 18.9631 14.6627ZM18.9631 10.3577C19.176 10.3577 19.3841 10.4208 19.5611 10.5391C19.7381 10.6574 19.876 10.8254 19.9575 11.0221C20.0389 11.2188 20.0603 11.4352 20.0187 11.6439C19.9772 11.8527 19.8747 12.0445 19.7242 12.195C19.5737 12.3455 19.3819 12.448 19.1731 12.4896C18.9643 12.5311 18.7479 12.5098 18.5513 12.4283C18.3546 12.3468 18.1865 12.2089 18.0683 12.0319C17.95 11.8549 17.8869 11.6468 17.8869 11.434C17.8869 11.1485 18.0003 10.8748 18.2021 10.6729C18.404 10.4711 18.6777 10.3577 18.9631 10.3577Z' fill='%23009FC6'/%3E%3Cpath d='M18.9642 15.739C17.7715 15.7404 16.6131 16.1379 15.6708 16.8691C14.6167 15.8191 13.2751 15.1047 11.8155 14.8161C10.3558 14.5275 8.8434 14.6775 7.46892 15.2473C6.09443 15.8172 4.91946 16.7812 4.09217 18.0179C3.26488 19.2547 2.82233 20.7087 2.82031 22.1966C2.82031 22.482 2.9337 22.7558 3.13554 22.9576C3.33738 23.1595 3.61113 23.2729 3.89657 23.2729C4.18201 23.2729 4.45576 23.1595 4.6576 22.9576C4.85944 22.7558 4.97283 22.482 4.97283 22.1966C4.97283 20.7694 5.53978 19.4006 6.54897 18.3914C7.55816 17.3823 8.92691 16.8153 10.3541 16.8153C11.7813 16.8153 13.1501 17.3823 14.1593 18.3914C15.1685 19.4006 15.7354 20.7694 15.7354 22.1966C15.7354 22.482 15.8488 22.7558 16.0506 22.9576C16.2525 23.1595 16.5262 23.2729 16.8117 23.2729C17.0971 23.2729 17.3709 23.1595 17.5727 22.9576C17.7745 22.7558 17.8879 22.482 17.8879 22.1966C17.8905 20.9357 17.572 19.6949 16.9623 18.5911C17.438 18.2153 18.0098 17.9809 18.6124 17.9149C19.215 17.8488 19.824 17.9537 20.3697 18.2176C20.9155 18.4815 21.3759 18.8937 21.6983 19.4071C22.0208 19.9204 22.1922 20.5141 22.193 21.1203C22.193 21.4058 22.3063 21.6795 22.5082 21.8814C22.71 22.0832 22.9838 22.1966 23.2692 22.1966C23.5547 22.1966 23.8284 22.0832 24.0302 21.8814C24.2321 21.6795 24.3455 21.4058 24.3455 21.1203C24.3455 19.6931 23.7785 18.3244 22.7693 17.3152C21.7601 16.306 20.3914 15.739 18.9642 15.739Z' fill='%23009FC6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4305_68775'%3E%3Crect width='25.8302' height='25.8302' fill='white' transform='translate(0.671875 0.670898)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}

	p {
		font-size: 15.101px;
		font-weight: 600;
		line-height: 21.572px;

		strong {
			font-size: 22px;
			font-weight: 700;
			line-height: 21.572px;

			@include respond-above(sm) {
				font-size: 23.73px;
				line-height: 21.572px;
			}
		}
	}
}

.testimonial-slider--quote {
	margin-top: 22px;

	p {
		color: var(--primary-500-main, #009fc6);
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		letter-spacing: -0.32px;

		@include respond-above(sm) {
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -0.48px;
		}
	}

	@include respond-above(md) {
		margin-top: 30px;
	}
}

.testimonial-slider--nav {
	@apply relative z-10;
	margin-top: 24px;
}

.testimonial-slider--arrows {
	@apply hidden;
	.slick-arrow {
		padding: 10px 33px;
		background-color: var(--primary-500-main, #009fc6);
		border-radius: 5px;
	}

	@include respond-above(lg) {
		display: flex;
		column-gap: 19px;
	}
}

.testimonial-slider--dots {
	@apply lg:hidden;
	margin-top: 34px;

	.slick-dots {
		@apply flex items-center justify-center;
		gap: 6px;

		li {
			border-radius: 50%;
			width: 12px;
			height: 12px;
			border: 1px solid var(--primary-500-main, #009fc6);

			&.slick-active {
				background-color: var(--primary-500-main, #009fc6);
			}
		}

		button {
			color: transparent;
		}
	}
}
