/*** CONFIGURATAION NOTES
 * This file is for styles that are specific to the legal pages.
 *
**/

/*** 
 * STRUCTURAL-SPECIFIC STYLES
 *
**/
.last__updated { 
   @apply mb-12 lg:mb-16;
}

.psuedo-select-active {
   @apply flex font-medium items-center justify-between mb-0; //TODO primary
   cursor: pointer;
}

.toc-nav-link {
   @apply flex leading-normal py-4 items-center;
   svg {
      margin-right: 1rem;
      max-width: 100%;
      overflow:hidden;
      transition: 0.2s;
   }
   span { pointer-events: none; }
   &:not(.active) {
      svg {
         margin-right: 0;
         max-width: 0;
         opacity: 0;
      }
   }
   &.active {
      font-weight: bold;
   }
   &:not(:last-child) {
      border-bottom: 1px dashed #8F92FC; //TODO
   }
}

.psuedo-select {
   .svg-arrow-down {
      @apply ml-2;
      pointer-events: none;
   }
}
.in-page-nav {//-mobile {
   @apply block max-w-md relative rounded w-full;
   // //body?
   // font-family: $font-inter;
   // font-size: 16px;
   // font-weight: 500;
   // line-height: 1.5;

   .psuedo-select-active {
      @apply px-4 py-3;
   }

   nav {
      @apply absolute bg-white w-full mt-2 rounded px-4;
      // border-radius: inherit;
      // box-shadow: 0 0 40px rgba(0,0,0,0.15);
      top: 100%;
      left: 0;
   }

   //TODO a {
   //    @apply text-primary; //TODO
   // }
}

.page-legal-content--article {
   @apply flex flex-col;
}
.page-legal-content--wrap {
   flex: 1;
}
//TODO
html:has(.page-template-legal) {
   overflow-x: unset;
}

.page-template-legal {
   //TODO //p
   // font-size: 16px;
   // // font-weight: 400;
   // line-height: 1.375;//22px;
   .main-content-wrap {
      @apply my-16 md:my-24 lg:my-40;
   }
   h1 {
      //@apply mb-6 md:mb-12 lg:mb-20;
      @include dynamic('margin-bottom', 86, 24);
   }
   h2 {
      @apply mb-8 mt-16;
   }
}


@include respond-below(xl) {
   .psuedo-select {
      nav {
         @apply overflow-hidden;
         box-shadow: 0 0 40px rgba(0,0,0,0.15);
         max-height: 200px;
         overflow: auto;
         overscroll-behavior: contain;
         transition: max-height 0.2s;
   
         --scrollBarColor1:#0004;
         --scrollBarColor2:#fff;
         
         /* Works on Firefox */
         //STARTER
         //TODO build err - base.scss - universal
         scrollbar-width: thin;
         scrollbar-color: var(--scrollBarColor1) var(--scrollBarColor2);
          
         /* Works on Chrome, Edge, and Safari */
         &::-webkit-scrollbar {
            width: 8px;
         }
         
         &::-webkit-scrollbar-track {
            background: var(--scrollBarColor2);
         }
         
         &::-webkit-scrollbar-thumb {
            background-color: var(--scrollBarColor1);
            border-radius: 20px;
            border: 2px solid var(--scrollBarColor2);
         }
      }
      &:not(.is-open) {
         nav {
            @apply max-h-0 pointer-events-none;
         }
      }
   }
}
@include respond-above(xl) {
   .in-page-nav {
      @apply border-none basis-80 grow shrink-0 sticky;// top-10;
      //@apply hidden lg:block;
      @apply px-10 py-6;
      top: calc(2rem + var(--navbar-height));
      top: var(--navbar-height);

      nav {
         @apply bg-[#0000] mt-0 relative; // mx-8 my-6 relative;
      }
   }
   
   .psuedo-select-active { @apply hidden; }
   
   .page-legal-content--article {
      @apply flex-row-reverse gap-x-20 items-start relative; //TODO tab order
   }
}
