#history-1881 {
	width: 64vw;

	.history-content--info {
		max-width: 75%;
	}

	.history-content {
		@apply absolute z-10;
		top: 17%;
	}

	figure {
		@apply absolute left-0 bottom-0;
		height: 55%;
		width: 76%;
	}
}
