#history-1999 {
	width: 62vw;

	figure {
		@apply absolute;
		width: 43%;
		height: 53%;
		left: -11.4%;
		top: 10%;
	}

	.history-content {
		@apply absolute z-20;
		width: 45%;
  left: 35%;
  top: 39%;
	}
}

/* width: 890 */
