#history-2018 {
	width: 31.9vw;

	figure {
		@apply absolute;
		top: 10.4%;
		left: 0;
		width: 60.76%;
		height: 43.2%;

		img {
			border-radius: 0;
			background-color: transparent;
			object-fit: contain;
			object-position: left center;
		}
	}

	h3 {
		@apply absolute left-0;
		top: 56%;
	}

	.history-content {
		@apply absolute;
		top: 7.8%;
		left: 73.38%;
		width: 101.3%;
	}
}

/* width 460 */
