# package-lock.json
# /**/*/node_modules
node_modules
/vendor
.unlighthouse
composer.lock
style.css.map
.DS_Store
scripts/env
.env*
pnpm-lock.yaml


# Generated
build/
assets/js/*.js.map
assets/js/*.js
assets/css/*.css.map
assets/css/*.css
! assets/css/critical.css

# composer dependencies
vendor

# Miscellaneous
debug.txt
