@layer components {
	.btn {
		@apply border-1 bg-white rounded-md	font-semibold inline-block text-primary500;
		@apply py-3 px-16; //TODO em

		&.btn-arrow {
			display: flex;
			@apply items-center justify-center gap-2;

			svg {
				transition: all 0.2s ease-out;
			}
		}

		@media screen and (hover: hover) and (pointer: fine) {
			transition: 0.2s;
			&:hover {
				@apply bg-primary500 text-white;

				svg {
					transform: translateX(4px);
				}
			}
		}
	}

	.btn-green-dark-green {
		@apply btn bg-green border-green text-footer-primary;
		@media screen and (hover: hover) and (pointer: fine) {
			&:hover {
				@apply bg-green border-green text-footer-primary;
				filter: brightness(80%);
			}
		}
	}

	.btn-blue-dark-blue {
		@apply btn bg-primary500 text-white;
		@media screen and (hover: hover) and (pointer: fine) {
			&:hover {
				@apply bg-primary900 text-white;
			}
		}
	}

	.btn-dark-blue-blue {
		@apply btn bg-primary900 text-white;
		@media screen and (hover: hover) and (pointer: fine) {
			&:hover {
				@apply bg-primary500 text-white;
			}
		}
	}
}
