.site-footer {
   @apply bg-footer-primary text-white relative z-10;
}

.footer-row-1,
.footer-row-2,
.footer-row-3 {
   @apply flex justify-between;
}

.footer-row-1 {
   @apply flex flex-col pt-16 pb-8 relative z-10;
}
.footer-links {
}
ul.footer-links-list {
   @apply mb-12;
   @apply grid gap-y-6 gap-x-6 sm:gap-x-0;
   grid-template-areas: 
   "a b"
   "d b"
   "d b"
   "e b"
   "e c"
   "f c"
   ;

   > li {
      break-inside: avoid-column;
   }
   > li:not([class*=btn]) > a {
      @apply relative;
      &:before {
         @apply absolute bg-white bottom-[-1px] left-0 h-[2px] w-full;
         content: '';
         transition: 0.2s;
         opacity: 0;
      }
   }
   .sub-menu a {
      transition: 0.2s;
      &:hover {
         text-shadow: 0 1px #fff;
         // letter-spacing: 0.04em;
      }
   }
   @media (hover:hover) {
      //about
      // > li > a:hover:before {
      li.menu-item-has-children:hover > a {
         cursor: default;
      }
      li:not(.menu-item-has-children):hover > a:before {
         opacity:1;
      }
   }
   //.current-menu-ancestor,
   // > li.current-menu-item {
   //    > a:before { opacity: 1!important; }
   // }

   // home
   .menu-item-104 {
      grid-area: a;
      order: 1;
   }
   // about
   // .menu-item-105 {
   .menu-item-1594 {
      grid-area: b;
      order: 2;
   }
   // services
   .menu-item-114 {
      grid-area: c;
      order: 3;
   }
   // products
   .menu-item-119 {
      grid-area: d;
      order: 4;
   }
   // tools
   .menu-item-120 {
      grid-area: e;
      order: 5;
   }
   // news
   .menu-item-167 {
      grid-area: f;
      order: 6;
   }

   // prevent hover state and clickability on menu items that have submenus
   & > li.menu-item-has-children > a {
      pointer-events: none;
   }
   
   
   li {
      a {
         @apply inline-block;
      }
   }
   > li {
      flex: 1 0 50%;
      > a {
         @apply font-bold inline-block mb-[10px] text-white;
         /* Paragraph/Large/Bold */
         font-family: $font-open-sans;
         font-size: 1.125rem;
         line-height: 1.56;
      }
   }

   .sub-menu {
      @apply flex flex-col;
      li {
         @apply m-0 mb-[10px] p-0;
         a {
            @apply text-white;

            /* Paragraph/Small/Medium */
            font-family: $font-open-sans;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.643;
         }
      }
   }
}


a.footer-logo-link {
   @apply h-auto inline-block relative;
   img {
      @include fillall;
   }

   svg {
      max-width: 9.0625rem;
      height: auto;
   }
}
.footer-info .footer-logo-link {
   @apply hidden;
}

.footer-row-2 {
   @apply flex flex-col items-center;
}
.footer-social {
   @apply flex gap-x-3;

   g, path { pointer-events: none; }
}

.footer-contact {
   @apply flex flex-col-reverse gap-y-20 pb-20;

   .btn-green-dark-green {
      @apply text-center w-full;
      max-width: 28rem;
   }

   .btn-green-light-green {
      @include respond-below(sm) {
         max-width: 100%;
         width: 100%;
         text-align: center;
      }
   }
}
.footer-contact-phone,
.footer-contact-email {
   @apply mb-0;
}
.footer-subscribe {
   .wpcf7 {
      @apply mt-6;
   }
   .wpcf7-form {
      @apply flex justify-center;
      p {
         @apply flex items-start gap-x-2;
      }
   }

   input:not([type=submit]) {
      @apply px-3 py-[10px] text-primary;
      border-radius: 0.375rem;
      // height: 100%; //stretched on error
      width: 100%;

      font-family: $font-open-sans;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.43;

      &::placeholder {
         @apply text-primary200;
      }

   }
   input[type=submit] {
      @apply bg-primary500 px-6 py-[10px] text-white;
      border-radius: 0.375rem;

      /* Paragraph/Small/Semibold */
      font-family: $font-open-sans;
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.43;
      cursor: pointer;
      transition: ease 0.35s;

      @media (hover: hover) {
         &:hover {
            background-color: rgb(0 68 85/var(--tw-bg-opacity));
         }
      }
   }
   .wpcf7-response-output { @apply hidden; }
   .wpcf7-not-valid-tip {
      @apply mt-1 text-left;
   }
}
.footer-form-msg { 
   // @apply max-w-[266px] mx-auto text-center;
   @apply mx-auto text-center;
   small {
      @include body-xs;
   }
   p {
      @apply font-semibold mb-2 mx-auto;
      //@include body;
      @apply text-white; //override body
      //max-width: 14em;
      color: #FFF;
      text-wrap: balance;

      /* Paragraph/Medium/Semibold */
      // font-family: Open Sans;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem; /* 150% */
   }
}
.wpcf7-spinner { @apply hidden; }
#wpcf7-f16-o1, .footer-row-2 .wpcf7 {
   form {
      @apply flex gap-x-2 items-center mx-auto mb-0;
   }
   input {
      @apply bg-white h-full px-4 py-3;
   }
   p:first-of-type {
      @apply grow;
   }
   input:not([type=submit]) {
      @apply w-full; 
   }
   input[type=submit] {
      @apply text-white hover:text-white;
      transition: 0.3s;
   }
}

.footer-row-3 {
   @apply flex-col-reverse items-center py-6;
   @apply bg-primary100 text-footer-primary;
   @include psuedo-cover;
   background-color: $footer-row-3-bg;
   color: $footer-row-3-text;
}

ul.footer-legal-list, #menu-footer-legal ul,
ul.footer-nav-bottom-list, #menu-footer-nav-bottom ul {
   @apply flex flex-wrap justify-center gap-x-5 gap-y-2 mb-2 pl-0 underline sm:mb-0;

   a {
      /* Paragraph/Small/Medium */
      color: var(--primary-footer-blue, #072D36);
      font-family: $font-open-sans;
      font-size: 0.875rem;
      line-height: 1.6428571428571428;
      // text-decoration: none;
   }
}

.social-icon path {
   transition: 0.2s;
}
@media (hover:hover) {
   .social-icon:hover {
      path {
         @apply fill-primary400;
      }
   }
}


@include respond-below(lg) {
   .footer-links-list {
      @apply ml-auto max-w-[650px];
      //@apply mx-auto max-w-[425px];
   }
}
@include respond-below(3xs) {
   ul.footer-nav-bottom-list, #menu-footer-nav-bottom ul {
      @apply flex-col text-center ;
   }
}
@include respond-above(lg) {
   ul.footer-links-list {
      @apply flex items-start;
      --column-gap: 1rem;
      column-gap: var(--column-gap);
      justify-content: space-between;
      flex-wrap: wrap;

      //home
      .menu-item-104 { @apply mr-[40px]; }
      //about
      // .menu-item-105 { @apply mr-[20px]; }
      .menu-item-1594 { @apply mr-[20px]; }
      //services
      .menu-item-114 { @apply mr-[40px]; }
      //products
      .menu-item-119 { @apply mr-[28px]; }
      //tools
      .menu-item-120 { @apply mr-[24px]; }
      //news
      .menu-item-121 { @apply mr-auto; }
      > li {
         flex: unset;
         > a {
            @apply font-semibold md:mb-4 text-primary50;

            /* Paragraph/Small/Semibold */
            font-family: $font-open-sans;
            font-size: 0.875rem;
            line-height: 1.43;
         }
      }
      .sub-menu {
         li {
            @apply md:mb-1;
            a {
               /* Paragraph/XSmall/Medium */
               font-family: $font-open-sans;
               font-size: 0.75rem;
               line-height: 1.3333333333333333;
               padding: 0.16666666666666666em 0;
   
   
               color: #FFFFFF;
            }
         }
      }
   }
}

@include respond-above(lg) {
   .footer-logo-subscribe--wrap {
      @apply items-center;
   }
   .footer-info {
      .footer-logo-link {
         display: block;
         margin-bottom: 40px;
      }
   }
   .footer-form-msg .title,
   .footer-form-msg h6,
   .footer-form-msg {
      max-width: unset;
   }

   .footer-contact {
      border-top: 1px solid #fff;
      .footer-logo-link {
         @apply hidden;
      }
   }

   .footer-row-2 {
      @apply flex-row pt-10 pb-20 relative z-20;
   
      .btn-green-dark-green {
         width: unset;
      }
   }
   .footer-row-3 {
      @apply lg:flex-row;
   }
}

@include respond-above(xl) {
   .footer-row-1 {
      @apply flex-row;
   }
   ul.footer-links-list {
      @apply flex-nowrap;
   }
   .footer-logo-subscribe--wrap {
      @apply lg:items-end text-right;
   }

   .footer-logo-subscribe--wrap {
      @apply items-end;
   }
   .footer-form-msg {
      @apply text-right;
   }
}


@media (max-width: 425px) {
   .footer-copyright p {
      margin-top: 0.5rem;
      text-align: center;
   }
}
