////////////////////////// HEADER/NAVBAR //////////////////////////
.navbar-wrap {
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
}

.navbar {
	@apply flex items-center justify-between py-7;
	flex: 1;
	> nav {
		@apply inline-block mr-auto;
	}
	@include respond-below(md) {
		@apply w-full;
	}
}

.logo-link {
	@apply mr-6;
	display: block;
	// margin: 0.75rem 0;
	width: auto;
	position: relative;
	img,
	svg {
		height: 45px;
		width: auto;
		// max-height: 100%;
		pointer-events: none;
	}
}

ul.header-links {
	@apply flex items-center justify-end pl-0 list-none mx-0 -my-3;

	.sub-menu {
		@apply absolute bg-white top-full;
		border-radius: 10px;
		box-shadow: 0px 5px 30px 0px rgba(0, 68, 85, 0.18);
		border-radius: 0.5rem;

		visibility: hidden;
		opacity: 0;
		max-height: 0;
		pointer-events: none;
		overflow: hidden;

		// transition: 0.3s;
		// &:not(:hover) { //mouseleave
		//   transition-delay: 0.5s;
		// }

		li {
			white-space: nowrap;
		}
		@media (hover: hover) {
			.active, //TODO
			a:not(:hover) {
				color: rgba(0, 68.26, 85, 0.3); //TODO
				text-decoration: none;
				&:before {
					opacity: 0;
				}
			}
		}
		a {
			@apply inline-block relative;
			color: #004455; //TODO
			font-size: 15px;
			font-family: Open Sans;
			font-weight: 600;
			line-height: 24px;
			// word-wrap: break-word;
			// text-decoration: underline;
			transition: 0.3s;
			margin: 0.4375rem 0; //does not stack
			&:before {
				@apply absolute bg-[#004455] bottom-[-1px] left-0 h-[2px] w-full;
				content: '';
				transition: inherit;
			}
		}
		padding: calc(2rem - 0.4375rem) 3rem;
		left: -3rem;
	}

	> li {
		@apply relative;
		padding: 1.25rem 0.75rem;
		transition: 0.3s;
		//  padding: 40px 0 1rem;//0.65em 0;

		//  &:first-child {
		//   visibility: hidden;
		//   display: none;
		//  }
		&:last-child {
			margin-right: 0; //TODO alignment width max-width
		}
		&:first-child {
			//TODO margin-left: -1em;
			margin-right: auto;
		}
		
		&:focus-within,
		&:hover {
			//TODO
			.sub-menu {
				opacity: 1;
				pointer-events: initial;
				max-height: unset!important; //safari //STARTER
				visibility: visible;
				transition: 0.2s;
			}
		}

		> a {
			display: inline-block;
			position: relative;
			white-space: nowrap;
			transition: 0.1s;

			color: var(--primary-900, #045);
			text-align: center;
			font-size: 15px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			line-height: 24px;
			&:before {
				@apply absolute bg-[#004455] left-0 h-[2px];
				@apply bottom-0;
				width: 100%;//calc(100% - 1.5rem);
				content: '';
				transition: inherit;
				opacity: 0;
			}
		}


		&:hover:not(.menu-item-has-children),
		&.current-menu-ancestor,
		&.current-menu-item {
			> a:before {
				opacity: 1;
			}
		}
	}

	//about
	//TODO changes on save 
	.menu-item-251 {
		.sub-menu {
			overflow: hidden;
			column-count: 2;
			column-gap: 2rem; //items are all of longest item length
			//  row-gap: 0.9375rem; -> margins
		}
	}
}

.toggle-nav {
	display: none;
	background-color: transparent;
	margin: 0.75rem 0;
	margin-left: 1rem;
	// padding: 5px;
	// width:  32px;
	// height: 32px;
	padding: 0.75rem;
	border-radius: 6px;
	border: 1px solid var(--primary-500-main, #009fc6);
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); /* Drop shadow/XSmall */

	//  background-color: lighten($theme-primary, 70%);

	@media (hover: hover) {
		transition: 0.3s ease-out;
		&:hover {
			//transform: translateY(-3px);
			filter: brightness(90%);
		}
	}

	.hamburger {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		row-gap: 0.25rem;
		> div {
			background-color: var(--primary-500-main, #009fc6);
			// position: absolute;
			// left: 50%;
			width: 1rem; //21.87pt
			height: 2px;
			//  background-color: $theme-primary;
			border-radius: 2px;
			// transform: translateX(-50%);
			transition: all 0.25s ease;
			// &:not(:first-child) {
			//   margin-top: 7.3px;
			// }
		}
	}
	// &.clicked {
	//   .hamburger > div {
	//     &:nth-child(1) {
	//       transform: rotate(45deg) translate(4px, 4px);
	//     }
	//     &:nth-child(2) {
	//       width: 0;
	//       transform: translateX(8px);
	//     }
	//     &:nth-child(3) {
	//       transform: rotate(-45deg) translate(4px, -4.5px);
	//     }
	//   }
	// }
}

.doc-count {
	@apply absolute right-0 top-0;
	transform: translate(50%, -50%);
	background: #8bc53f;
	border-radius: 14px;
	height: 14px;
	width: 14px;
}
.doc-notifications {
	//TODO dot? - woocommerce
	@apply mr-[14px];
	background: var(--primary-100, #cfeef6);
	> * {
		pointer-events: none;
	}

	@media (hover: hover) {
		transition: 0.2s;
		&:hover {
			//TODO design; :focus
			// background: var(--primary-200-light-blue, #bae3e9);
			filter: brightness(120%);
			background-color: #009fc6; //TODO
			path {
				fill: #fff;
			}
		}
	}
}
.search-wrap,
.doc-notifications {
	@apply relative;
	border-radius: 6px;
	height: 2.5rem;
}
.search-wrap button,
.doc-notifications {
	@apply inline-flex items-center justify-center;
	width: 2.5rem;
}
.search-wrap {
	border: 1.5px solid var(--primary-500-main, #009fc6);
	--search-width: 10rem;
	form {
		@apply h-full inline-flex;
		border-radius: inherit;
	}
	.focus-detection {
		cursor: pointer;
		z-index: 1;
	}
	input {
		// display: none;
		border-radius: inherit;
		background: #0000;
		height: 100%;
		max-width: 40px; //100%;
		opacity: 0;
		outline-color: #0000;
		cursor: pointer;
		transition: 0.3s;
		width: var(--search-width);
	}
// 	input[type="search"]::-webkit-search-cancel-button {
// 		// -webkit-appearance: none;
// 		cursor: pointer;
  
// 		height: 1.25rem;
// 		width:  1.25rem;
// 		// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z'/%3E%3C/svg%3E");
// 		&:after {
// 			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z'/%3E%3C/svg%3E");
// 		}
//   }
	button {
		@apply absolute right-0 top-0;
		@apply h-full;
		pointer-events: none;
		> * {
			pointer-events: none;
		}
	}
	&:focus-within {
		padding-right: 40px; //!
		input {
			cursor: text;
			opacity: 1;
			// display: initial;
			padding: 0.75rem; //TODO font-size
			max-width: var(--search-width);
		}
		button {
			pointer-events: initial;
		}
	}
}


.language-switcher {
	@apply flex items-center;
}
.gtranslate_wrapper {
}
.navbar .gt_switcher {
	width: fit-content !important;
}
.mobile-menu .gt_switcher,
.mobile-menu .gt_selected {
	width: 100% !important;
}
.mobile-menu .gt_selected {
	background: white!important;
}
.gt_switcher {
	@apply relative;
	line-height: 1 !important;
	overflow: unset !important;
	.gt_selected a {
		border: none !important;
		width: unset !important;

		// English
		color: #009fc6 !important;
		font-size: 15px !important;
		// font-family: Open Sans;
		font-weight: 600;
		line-height: 1.5 !important; //24px;
		// word-wrap: break-word;
		&:after {
			display: none !important;
		}
	}
}
// .gtranslate_wrapper { }
.gt_selected {
	background: unset !important;
	@apply inline-flex items-center;
	&:before {
		@apply -mb-1; //mr-[6px]; //padding
		content: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.44567 10.7601C2.44418 10.8252 2.44344 10.8906 2.44344 10.9561C2.44344 14.9785 5.25593 18.3441 9.0217 19.1935V17.1423C9.0217 16.4646 8.47233 15.9152 7.79464 15.9152C6.19463 15.9152 4.89757 14.6182 4.89757 13.0182V11.9871C4.89757 11.3094 4.34819 10.7601 3.6705 10.7601H2.44567ZM2.65031 9.09006H3.6705C5.27051 9.09006 6.56757 10.3871 6.56757 11.9871V13.0182C6.56757 13.6959 7.11695 14.2452 7.79464 14.2452C9.39464 14.2452 10.6917 15.5423 10.6917 17.1423V19.3982C10.7569 19.3996 10.8222 19.4004 10.8877 19.4004C11.6698 19.4004 12.4271 19.2941 13.1458 19.0951V17.1423C13.1458 15.5423 14.4429 14.2452 16.0429 14.2452H18.6675C19.0954 13.2344 19.332 12.1229 19.332 10.9561C19.332 9.78932 19.0954 8.67782 18.6675 7.66696L18.105 7.66696C17.4273 7.66696 16.8779 8.21634 16.8779 8.89403C16.8779 10.494 15.5808 11.7911 13.9808 11.7911C12.3808 11.7911 11.0838 10.494 11.0838 8.89403C11.0838 8.21634 10.5344 7.66696 9.8567 7.66696H9.34119C7.45647 7.66696 5.9286 6.1391 5.9286 4.25438V4.12065C4.29842 5.3054 3.10843 7.05909 2.65031 9.09006ZM7.5986 3.17634V4.25438C7.5986 5.21678 8.37878 5.99696 9.34119 5.99696H9.8567C11.4567 5.99696 12.7538 7.29402 12.7538 8.89403C12.7538 9.57172 13.3031 10.1211 13.9808 10.1211C14.6585 10.1211 15.2079 9.57172 15.2079 8.89403C15.2079 7.41774 16.3121 6.19937 17.7397 6.01977C16.2062 3.89483 13.7085 2.5118 10.8877 2.5118C9.72096 2.5118 8.60946 2.74843 7.5986 3.17634ZM17.7232 15.9152H16.0429C15.3652 15.9152 14.8158 16.4646 14.8158 17.1423V18.4331C15.9679 17.8265 16.9627 16.9616 17.7232 15.9152ZM0.773438 10.9561C0.773438 5.37012 5.30176 0.841797 10.8877 0.841797C16.4737 0.841797 21.002 5.37012 21.002 10.9561C21.002 16.5421 16.4737 21.0704 10.8877 21.0704C5.30176 21.0704 0.773438 16.5421 0.773438 10.9561Z' fill='%23009FC6'/%3E%3C/svg%3E%0A");

	}
}
//TODO override plugin settings for coloring
// .gt_container--xuhspj .gt_switcher .gt_option,
.gt_option {
	position: absolute !important;
}
.navbar .gt_option {
	left: 50%;
	transform: translateX(-50%);
}
.navbar .gt_option {
	top: 100% !important;
	width: fit-content !important;
}
.mobile-menu {
	.language-switcher {
		position: relative;
	}
	.gt_option {
		bottom: 106% !important;
		//TODO @include hide-sb(); //causing shifting
	}
	.gt_switcher {
		.gt_option {
			left: 0 !important;
			width: calc(100% - 0.5rem)!important;

			//disables animation
			height: unset!important;
			max-height: 60vh!important; //ADJUST

			transition: unset!important;
		}
		a:hover {
			background: #0000 !important;
		}
	}
}
.gt_selected,
.gt_option {
	img {
		//flags
		display: none !important;
	}
}

.gt_option {
	background: #fff !important;
	border: none !important;
	border-radius: 6px;
	box-shadow: 0px 5px 30px 0px rgba(0, 68, 85, 0.18);
}
.gt_switcher .gt_option {
	overscroll-behavior: contain !important;
	padding: 0.5rem 0.25rem !important;
}
.gt_container--58ccrx .gt_switcher .gt_option a,
.nturl {
	border-radius: 6px;
	padding: 0.5rem !important;
	@media (hover: hover) {
		&:hover {
			background: var(--primary50) !important;
		}
	}
}

//@media (max-width:1300px) {\
@include respond-below(xl) {
	ul.header-links {
		> li {
			padding-inline: 0.5rem;

		&:hover,
      &:focus-within, //POST prevent page reload
      &.current-page-ancestor, //TODO check
      &.current-menu-item {
				&:before {
					@apply left-2;
					width: calc(100% - 1rem);
				}
			}
		}
	}
}
@include respond-below(lg) {
	.doc-notifications + .search-wrap,
	.language-switcher,
	ul.header-links {
		display: none;
	}
	.toggle-nav {
		display: block;
	}
	.navbar + a.btn {
		margin-left: auto;
	}
	.navbar > .btn {
		margin-left: auto;
	}
	.doc-notifications {
		@apply mr-0 w-20;
	}
	.toggle-nav {
		@apply ml-3;
	}
}
