////////////////////////// HEADER/NAVBAR //////////////////////////
.navbar-wrap {
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
}

.navbar {
	@apply flex items-center justify-between py-7;
	flex: 1;
	> nav {
		@apply inline-block mr-auto;
	}
	@include respond-below(md) {
		@apply w-full;
	}
}

.logo-link {
	@apply mr-6;
	display: block;
	// margin: 0.75rem 0;
	width: auto;
	position: relative;
	img,
	svg {
		height: 45px;
		width: auto;
		// max-height: 100%;
		pointer-events: none;
	}
}

ul.header-links {
	@apply flex items-center justify-end pl-0 list-none mx-0 -my-3;

	.sub-menu {
		@apply absolute bg-white top-full;
		border-radius: 10px;
		box-shadow: 0px 5px 30px 0px rgba(0, 68, 85, 0.18);
		border-radius: 0.5rem;

		visibility: hidden;
		opacity: 0;
		max-height: 0;
		pointer-events: none;
		overflow: hidden;

		// transition: 0.3s;
		// &:not(:hover) { //mouseleave
		//   transition-delay: 0.5s;
		// }

		li {
			white-space: nowrap;
		}
		@media (hover: hover) {
			.active, //TODO
			a:not(:hover) {
				color: rgba(0, 68.26, 85, 0.3); //TODO
				text-decoration: none;
				&:before {
					opacity: 0;
				}
			}
		}
		a {
			@apply inline-block relative;
			color: #004455; //TODO
			font-size: 15px;
			font-family: Open Sans;
			font-weight: 600;
			line-height: 24px;
			// word-wrap: break-word;
			// text-decoration: underline;
			transition: 0.3s;
			margin: 0.4375rem 0; //does not stack
			&:before {
				@apply absolute bg-[#004455] bottom-[-1px] left-0 h-[2px] w-full;
				// content: '';
				transition: inherit;
			}
		}
		padding: calc(2rem - 0.4375rem) 3rem;
		left: -3rem;
	}

	> li {
		@apply relative;
		padding: 1.25rem 0.75rem;
		transition: 0.3s;
		//  padding: 40px 0 1rem;//0.65em 0;

		//  &:first-child {
		//   visibility: hidden;
		//   display: none;
		//  }
		&:last-child {
			margin-right: 0; //TODO alignment width max-width
		}
		&:first-child {
			//TODO margin-left: -1em;
			margin-right: auto;
		}

		&:hover,
		&:focus-within {
			//TODO
			.sub-menu {
				opacity: 1;
				pointer-events: initial;
				max-height: unset;
				visibility: visible;
				transition: 0.2s;
			}
		}

		> a {
			display: inline-block;
			position: relative;
			white-space: nowrap;
			transition: 0.1s;

			color: var(--primary-900, #045);
			text-align: center;
			font-size: 15px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			line-height: 24px;
			&:before {
				@apply absolute bg-[#004455] left-0 h-[2px];
				@apply bottom-0;
				width: 100%;//calc(100% - 1.5rem);
				content: '';
				transition: inherit;
				opacity: 0;
			}
		}


		&:hover:not(.menu-item-has-children),
		&.current-menu-ancestor,
		&.current-menu-item {
			> a:before {
				opacity: 1;
			}
		}
	}

	//about
	.menu-item-133 {
		.sub-menu {
			overflow: hidden;
			column-count: 2;
			column-gap: 2rem; //items are all of longest item length
			//  row-gap: 0.9375rem; -> margins
		}
	}
}

.toggle-nav {
	display: none;
	background-color: transparent;
	margin: 0.75rem 0;
	margin-left: 1rem;
	// padding: 5px;
	// width:  32px;
	// height: 32px;
	padding: 0.75rem;
	border-radius: 6px;
	border: 1px solid var(--primary-500-main, #009fc6);
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); /* Drop shadow/XSmall */

	//  background-color: lighten($theme-primary, 70%);

	@media (hover: hover) {
		transition: 0.3s ease-out;
		&:hover {
			//transform: translateY(-3px);
			filter: brightness(90%);
		}
	}

	.hamburger {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		row-gap: 0.25rem;
		> div {
			background-color: var(--primary-500-main, #009fc6);
			// position: absolute;
			// left: 50%;
			width: 1rem; //21.87pt
			height: 2px;
			//  background-color: $theme-primary;
			border-radius: 2px;
			// transform: translateX(-50%);
			transition: all 0.25s ease;
			// &:not(:first-child) {
			//   margin-top: 7.3px;
			// }
		}
	}
	// &.clicked {
	//   .hamburger > div {
	//     &:nth-child(1) {
	//       transform: rotate(45deg) translate(4px, 4px);
	//     }
	//     &:nth-child(2) {
	//       width: 0;
	//       transform: translateX(8px);
	//     }
	//     &:nth-child(3) {
	//       transform: rotate(-45deg) translate(4px, -4.5px);
	//     }
	//   }
	// }
}

.doc-count {
	@apply absolute right-0 top-0;
	transform: translate(50%, -50%);
	background: #8bc53f;
	border-radius: 14px;
	height: 14px;
	width: 14px;
}
.doc-notifications {
	//TODO dot? - woocommerce
	@apply mr-[14px];
	background: var(--primary-100, #cfeef6);
	> * {
		pointer-events: none;
	}

	@media (hover: hover) {
		transition: 0.2s;
		&:hover {
			//TODO design; :focus
			// background: var(--primary-200-light-blue, #bae3e9);
			filter: brightness(120%);
			background-color: #009fc6; //TODO
			path {
				fill: #fff;
			}
		}
	}
}
.search-wrap,
.doc-notifications {
	@apply relative;
	border-radius: 6px;
	height: 2.5rem;
}
.search-wrap button,
.doc-notifications {
	@apply inline-flex items-center justify-center;
	width: 2.5rem;
}
.search-wrap {
	border: 1.5px solid var(--primary-500-main, #009fc6);
	--search-width: 10rem;
	form {
		@apply h-full inline-flex;
		border-radius: inherit;
	}
	.focus-detection {
		cursor: pointer;
		z-index: 1;
	}
	input {
		// display: none;
		border-radius: inherit;
		background: #0000;
		height: 100%;
		max-width: 40px; //100%;
		opacity: 0;
		outline-color: #0000;
		cursor: pointer;
		transition: 0.3s;
		width: var(--search-width);
	}
	button {
		@apply absolute right-0 top-0;
		@apply h-full;
		pointer-events: none;
		> * {
			pointer-events: none;
		}
	}
	&:focus-within {
		padding-right: 40px; //!
		input {
			cursor: text;
			opacity: 1;
			// display: initial;
			padding: 0.75rem; //TODO font-size
			max-width: var(--search-width);
		}
		button {
			pointer-events: initial;
		}
	}
}

.language-switcher {
	@apply flex items-center;
}
.gtranslate_wrapper {
}
.gt_switcher {
	@apply relative;
	line-height: 1 !important;
	overflow: unset !important;
	width: fit-content !important;
	.gt_selected a {
		border: none !important;
		width: unset !important;

		// English
		color: #009fc6 !important;
		font-size: 15px !important;
		// font-family: Open Sans;
		font-weight: 600;
		line-height: 1.5 !important; //24px;
		// word-wrap: break-word;
		&:after {
			display: none !important;
		}
	}
}
.gtranslate_wrapper {
}
.gt_selected {
	background: unset !important;
}

// .gt_container--xuhspj .gt_switcher .gt_option,
.gt_option {
	position: absolute !important;
	left: 50%;
	transform: translateX(-50%);
}
.navbar .gt_option {
	top: 100% !important;
	width: fit-content !important;
}
.mobile-menu {
	.language-switcher {
		position: relative;
	}
	.gt_option {
		bottom: 106% !important;
		//TODO @include hide-sb(); //causing shifting
	}
	.gt_switcher {
		position: unset !important;
		a:hover {
			background: #0000 !important;
		}
	}
}
.gt_selected,
.gt_option {
	img {
		//flags
		display: none !important;
	}
}

.gt_option {
	background: #fff !important;
	border: none !important;
	border-radius: 6px;
	box-shadow: 0px 5px 30px 0px rgba(0, 68, 85, 0.18);
}
.gt_switcher .gt_option {
	overscroll-behavior: contain !important;
	padding: 0.5rem 0.25rem !important;
}
.gt_container--58ccrx .gt_switcher .gt_option a,
.nturl {
	border-radius: 6px;
	padding: 0.5rem !important;
	@media (hover: hover) {
		&:hover {
			background: var(--primary50) !important;
		}
	}
}

//@media (max-width:1300px) {\
@include respond-below(xl) {
	ul.header-links {
		> li {
			padding-inline: 0.5rem;

			&:hover,
      &:focus-within, //POST prevent page reload
      &.current-page-ancestor, //TODO check
      &.current-menu-item {
				&:before {
					@apply left-2;
					width: calc(100% - 1rem);
				}
			}
		}
	}
}
@include respond-below(lg) {
	.doc-notifications + .search-wrap,
	.language-switcher,
	ul.header-links {
		display: none;
	}
	.toggle-nav {
		display: block;
	}
	.navbar + a.btn {
		margin-left: auto;
	}
	.navbar > .btn {
		margin-left: auto;
	}
	.doc-notifications {
		@apply mr-0 w-20;
	}
	.toggle-nav {
		@apply ml-3;
	}
}
