$font-open-sans: 'Open Sans', sans-serif; 
$font-september: 'September', sans-serif;
$font-stack: $font-open-sans;


@mixin font404() {
   font-family: $font-september;
   font-size: 193px;
   font-weight: 500;
   line-height: 1.072538860103627; // 207/193
   letter-spacing: -0.02em;
   text-align: left;
}

@mixin legal-hdl1() {
   //styleName: Heading/H1/Bold/Desktop;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.2; // 48/40
   letter-spacing: -0.02em;

   @include respond-above(sm) {
      font-family: $font-open-sans;
      font-size: 55px;
      font-weight: 700;
      line-height: 1.1818181818181819; //65/55
      letter-spacing: -0.04em;
   }
}

@mixin legal-hdl2() {
   //styleName: Heading/H5/Bold/Desktop;
   font-family: $font-open-sans;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.3333333333333333; // 32/24
   letter-spacing: -0.02em;

   //@include respond-above(sm) { //same }
}

//styleName: Heading/H2/Bold/Desktop;
@mixin hdl2($font-weight:700) { //mobile services - hero headline ;
   //font-family: Open Sans;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.2222222222222223; // 44/36
   letter-spacing: -0.04em;
   //text-align: center;
}

//styleName: Paragraph/Medium/Medium;
// home hero body text
@mixin body($font-weight: 400) { // font-weight inline class
   @apply text-primary900;
   font-family: $font-stack; //Open Sans;
   font-weight: $font-weight;
   font-size: 16px;
   line-height: 1.5; // 24/16
   letter-spacing: 0em;
   // text-align: left;
}
body { @include body; }

/* Paragraph/XSmall/Medium */
@mixin body-xs() {
   font-family: $font-open-sans;//'Open Sans';
   // font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.6666666666666667; // 20/12 /* or 167% */
   // text-align: center;
} 
