.creator-link {
	position: absolute;
	bottom: 0.5rem;
	text-align: center;
	width: 100%;
}

/** Legal (Theme)
 *
 */
.page-template-legal aside a,
.last__updated {
	@apply text-primary;
}

.page-template-legal {
	@apply text-primary900;
}

.psuedo-select-active {
	@apply bg-primary100;
}

.in-page-nav {
	a {
		&.active {
			path {
				@apply fill-primary900;
			}
		}
	}
}

@include respond-below(xl) {
	.in-page-nav {
		nav {
		}
	}
}
@include respond-above(xl) {
	.in-page-nav {
		@apply border-none bg-primary50 rounded-3;
		width: 338px; //SETUP
	}
}

.news-hero .main .inner-wrap {
	@apply flex flex-col;
}

/**
 * Add to quote success modal
 */
 /* this only controls scrolling on the background when lity is open, so this :has() is ok */
 html:has(.lity-opened), body:has(.lity-opened) {
 	overflow: hidden;
 }
.lity {
	background: unset;
	background-color: rgba(186, 227, 233, 0.81);;

	.lity-container {
		border-radius: 10px;
		border-radius: 10px;
		
	}
	.lity-content {
		border-radius: 10px;
		box-shadow: 0px 17px 50px 0px rgba(16, 24, 40, 0.12);

		&:after {
			background-color: unset;
			box-shadow: unset;
			-webkit-box-shadow: unset;
		}
	}
}
#add-to-quote-success {
	width: 75vw;
	height: auto;
	border-radius: 10px;
	background: $white;
	//box-shadow: 0px 17px 50px 0px rgba(16, 24, 40, 0.12);

	@include respond-below(lg) {
		width: 90vw;
	}

	.add-to-quote-success-close {
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;

		@include respond-below(md) {
			top: 13px;
			right: 13px;
		}
	}

	.atqs-container {
		display: flex;

		@include respond-below(md) {
			flex-direction: column;
		}
	}
	.atqs-container-left {
		flex-basis: 49%;
		flex-shrink: 0;
		flex-grow: 0;
		padding: clamp(2.5rem, 0.5rem + 5vw, 5rem);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-repeat: no-repeat;
		background-size: cover;

		@include respond-below(md) {
			border-bottom-left-radius: 0;
			border-top-right-radius: 10px;
			padding-top: 75px;
			padding-bottom: 75px;
		}
	}
	
	.atqs-success-text {
		color: var(--primary-900, #045);
		font-size: clamp(1.5rem, 1.3rem + 0.5vw, 1.75rem);
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -0.56px;
		text-wrap: balance;
	}
	.atqs-container-right {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	.atqs-container-right-top {
		flex-basis: 50%;
		padding: 50px clamp(1.875rem, -0.125rem + 5vw, 4.375rem);
		border-top-right-radius: 10px;
	}
	.atqs-container-right-bottom {
		flex-basis: 50%;
		padding: 50px clamp(1.875rem, -0.125rem + 5vw, 4.375rem);
		background-color: var(--primary-50, #EFFBFF);
		border-bottom-right-radius: 10px;

		@include respond-below(md) {
			border-bottom-left-radius: 10px;
		}
	}
	.atqs-container-right-top, .atqs-container-right-bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: clamp(0.875rem, 0.575rem + 0.75vw, 1.25rem);

		@include respond-below(lg) {
			align-items: center;
		}
	}
	.atqs-right-headline {
		color: var(--primary-900, #045);
		font-size: clamp(1.5rem, 0.85rem + 1.625vw, 2.313rem);
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -1.11px;
	}
	.btn-blue-dark-blue, .btn-green-black-text {
		padding: 10px 16px;
		display: flex;
		align-self: flex-start;
		font-size: 14px;
		font-weight: 500;

		@include respond-below(md) {
			align-self: center;
		}
	}
	.btn-green-black-text {
		//color: $white;
		font-weight: 700;

		svg {
			path {
				fill: var(--footer-primary);
			}
		}
	}
}

.contact {
	.quote {
		font-size: clamp(1.375rem, 0.875rem + 1.25vw, 2rem);
		font-weight: 400;
		line-height: 1.3; /* 41.6px */
		letter-spacing: -0.64px;
	}
	.contact-form--section {
		@include respond-below(sm) {
			padding-top: 0;
		}
	}

}